In [44]:
import numpy as np
import pandas as pd
import pyarrow as pa
import os
import swat
import sys

In [45]:
os.environ['CAS_CLIENT_SSL_CA_LIST'] = '/opt/sas/viya/config/etc/SASSecurityCertificateFramework/cacerts/trustedcerts.pem'
#os.environ['CAS_CLIENT_SSL_CA_LIST'] = '/mnt/c/Users/frasep/OneDrive - SAS/Mes Documents/Dossiers/Demoing/My_Azure_Environments/terraform_monoserver/cacerts/'

cashost='frasepviya35smp.cloud.com'
casport=5570
s = swat.CAS(cashost, casport)
s.sessionProp.setSessOpt(timeout=1800, caslib='casuser', messageLevel="ALL", metrics='true')

NOTE: 'CASUSER(viyademo01)' is now the active caslib.
NOTE: Action 'sessionProp.setSessOpt' used (Total process time):
NOTE:       real time               0.000337 seconds
NOTE:       cpu time                0.000318 seconds (94.36%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  262.06K (0.00%)

+ Elapsed: 0.000337s, user: 0.000215s, sys: 0.000103s, mem: 0.256mb

In [4]:
df = pd.DataFrame({'one': [-1, np.nan, 2.5],
                   'two': ['foo', 'bar', 'baz'],
                   'three': [True, False, True]},
                    index=list('abc'))


table = pa.Table.from_pandas(df)

In [46]:
import pyarrow.parquet as pq

In [6]:
pq.write_table(table, 'c://my_local_data/example.parquet')

In [47]:
s.table.fileinfo(caslib="mycas")

NOTE: Executing action 'table.fileInfo'.
NOTE: Action 'table.fileInfo' used (Total process time):
NOTE:       real time               0.001836 seconds
NOTE:       cpu time                0.001813 seconds (98.75%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  706.34K (0.00%)

[FileInfo]

    Permission       Owner      Group                   Name        Size Encryption                       Time       ModTime
 0  -rw-r--r--  viyademo01  marketing  megacorp5_4m.sas7bdat  1307721728             2012-11-14T00:48:06+00:00  1.668473e+09

+ Elapsed: 0.00184s, user: 0.00048s, sys: 0.00133s, mem: 0.69mb

In [48]:
s.table.loadtable(caslib="mycas", path="megacorp5_4m.sas7bdat", casout="megacorp5_4m");

NOTE: Executing action 'table.loadTable'.
NOTE: Cloud Analytic Services made the file megacorp5_4m.sas7bdat available as table MEGACORP5_4M in caslib CASUSER(viyademo01).
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               7.096136 seconds
NOTE:       cpu time                7.096520 seconds (100.01%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  19.65M (0.02%)

In [49]:
s.table.save(caslib="dnfs",name="megacorp5_4m.csv",table={"caslib":"mycas","name":"megacorp5_4m"}, replace="true")

NOTE: Executing action 'table.save'.
NOTE: Cloud Analytic Services saved the file megacorp5_4m.csv in caslib DNFS.
NOTE: Action 'table.save' used (Total process time):
NOTE:       real time               73.467821 seconds
NOTE:       cpu time                73.254787 seconds (99.71%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  3.42M (0.00%)

[caslib]

 'DNFS'

[name]

 'megacorp5_4m.csv'

+ Elapsed: 73.5s, user: 70.8s, sys: 2.46s, mem: 3.42mb

In [50]:
df_megacorp5_4m = pd.read_csv(filepath_or_buffer="/mnt/demo/dnfs/megacorp5_4m.csv")

In [51]:
import sys
sys.getsizeof(df_megacorp5_4m)

4431992426

In [52]:
df_megacorp5_4m.to_parquet('/mnt/demo/dnfs/megacorp5_4m.parquet')
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_parquet.html

In [53]:
stream = os.popen("du -sh /mnt/demo/dnfs/megacorp5_4m.parquet")
output = stream.read()
print(output)

101M	/mnt/demo/dnfs/megacorp5_4m.parquet

In [5]:
s.table.addcaslib(name="AzureDL", dataSource={"srctype":"adls", "accountname":'frasepstorage',"filesystem":"datalake", "tenantid":"b1c14d5c-3625-45b3-a430-9552373a0c2f","applicationId":"e7af42e8-3ca8-47bb-97ce-ac764019be3a","timeout":"50000"}, path="/", subDirectories="True", session="True")

NOTE: Executing action 'table.addCaslib'.
NOTE: 'AzureDL' is now the active caslib.
NOTE: Cloud Analytic Services added the caslib 'AzureDL'.
NOTE: Action 'table.addCaslib' used (Total process time):
NOTE:       real time               0.001033 seconds
NOTE:       cpu time                0.000998 seconds (96.61%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  765.63K (0.00%)

[CASLibInfo]

       Name  Type Description Path                                         Definition  Subdirs  Local  Active  Personal  Hidden  Transient
 0  AzureDL  adls                /                                    timeout = 50000      1.0    1.0     1.0       0.0     0.0        0.0
 1  AzureDL                                             accountName = 'frasepstorage'      NaN    NaN     NaN       NaN     NaN        NaN
 2  AzureDL                                                   fileSystem = 'datalake'      NaN    NaN     NaN       NaN     NaN        NaN
 3  AzureDL                         tenantId = 'b1c14d5c-3625-45b3-a430-9552373a0c2f'      NaN    NaN     NaN       NaN     NaN        NaN
 4  AzureDL                         applicationId = 'e7af42e8-3ca8-47bb-97ce-ac764...      NaN    NaN     NaN       NaN     NaN        NaN

+ Elapsed: 0.00103s, user: 0.000998s, mem: 0.748mb

In [6]:
s.table.loadtable(caslib="AzureDL", path="megacorp5_4m.orc", casout="megacorp5_4m");

NOTE: Executing action 'table.loadTable'.
NOTE: Cloud Analytic Services made the external data from megacorp5_4m.orc available as table MEGACORP5_4M in caslib AzureDL.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               20.038280 seconds
NOTE:       cpu time                16.153432 seconds (80.61%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  31.29M (0.02%)

NOTE: Executing action 'table.loadTable'.
NOTE: Cloud Analytic Services made the external data from megacorp5_4m.orc available as table MEGACORP5_4M in caslib AzureDL.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               20.469345 seconds
NOTE:       cpu time                17.041895 seconds (83.26%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  31.23M (0.02%)

In [41]:
# data file
indata = 'megacorp5_4m'

# CASTable view
castbl = s.CASTable(indata,caslib='mycas')

In [42]:
my_tab = castbl.to_frame(table=dict(name=indata, caslib='mycas'))

In [13]:
import sys
sys.getsizeof(my_tab)

4468175242

In [15]:
my_tab.to_parquet('/mnt/demo/dnfs/megacorp5_4m.parquet')
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_parquet.html

In [16]:
stream = os.popen("du -sh /mnt/demo/dnfs/megacorp5_4m.parquet")
output = stream.read()
print(output)

113M	/mnt/demo/dnfs/megacorp5_4m.parquet

In [17]:
my_tab.columns

Index(['Date', 'DateByYear', 'DateByMonth', 'DayOfWeek', 'FacilityID',
       'Facility', 'FacilityType', 'FacilityAge', 'EmployeesUsed',
       'FacilityRegion', 'FacilityState', 'FacilityCity', 'UnitID', 'Unit',
       'UnitDowntime', 'UnitAge', 'UnitLifespan', 'UnitLifespanLimit',
       'UnitReliability', 'UnitStatus', 'UnitCapacity', 'UnitYieldTarget',
       'UnitYieldActual', 'UnitYieldRate', 'ProductBrand', 'ProductLine',
       'ProductID', 'Product', 'ProductDescription', 'ProductPriceTarget',
       'ProductPriceActual', 'ProductMaterialCost', 'ProductQuality', 'Profit',
       'Revenue', 'Expenses', 'ExpensesCapital', 'ExpensesOperational',
       'ExpensesMaterial', 'ExpensesStaffing', 'RegionLongitude',
       'RegionLatitude', 'StateLongitude', 'StateLatitude', 'CityLongitude',
       'CityLatitude'],
      dtype='object')

In [35]:
s.table.columninfo(table={"caslib":"dnfs", "name":"megacorp5_4m.parquet"})

NOTE: Executing action 'table.columnInfo'.
NOTE: Action 'table.columnInfo' used (Total process time):
NOTE:       real time               0.001731 seconds
NOTE:       cpu time                0.001707 seconds (98.61%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  850.88K (0.00%)

[ColumnInfo]

                  Column Label  ID       Type  RawLength  FormattedLength Format  NFL  NFD
 0                  Date         1      int64          8               12           0    0
 1            DateByYear         2      int64          8               12           0    0
 2           DateByMonth         3      int64          8               12           0    0
 3             DayOfWeek         4     double          8               12           0    0
 4            FacilityID         5     double          8               12           0    0
 5              Facility         6  varbinary          0              256         256    0
 6          FacilityType         7  varbinary          0              256         256    0
 7           FacilityAge         8     double          8               12           0    0
 8         EmployeesUsed         9     double          8               12           0    0
 9        FacilityRegion        10  varbinary          0              256         256    0
 10        FacilityState        11  varbinary          0              256         256    0
 11         FacilityCity        12  varbinary          0              256         256    0
 12               UnitID        13     double          8               12           0    0
 13                 Unit        14  varbinary          0              256         256    0
 14         UnitDowntime        15     double          8               12           0    0
 15              UnitAge        16     double          8               12           0    0
 16         UnitLifespan        17     double          8               12           0    0
 17    UnitLifespanLimit        18     double          8               12           0    0
 18      UnitReliability        19     double          8               12           0    0
 19           UnitStatus        20  varbinary          0              256         256    0
 20         UnitCapacity        21     double          8               12           0    0
 21      UnitYieldTarget        22     double          8               12           0    0
 22      UnitYieldActual        23     double          8               12           0    0
 23        UnitYieldRate        24     double          8               12           0    0
 24         ProductBrand        25  varbinary          0              256         256    0
 25          ProductLine        26  varbinary          0              256         256    0
 26            ProductID        27     double          8               12           0    0
 27              Product        28  varbinary          0              256         256    0
 28   ProductDescription        29  varbinary          0              256         256    0
 29   ProductPriceTarget        30     double          8               12           0    0
 30   ProductPriceActual        31     double          8               12           0    0
 31  ProductMaterialCost        32     double          8               12           0    0
 32       ProductQuality        33     double          8               12           0    0
 33               Profit        34     double          8               12           0    0
 34              Revenue        35     double          8               12           0    0
 35             Expenses        36     double          8               12           0    0
 36      ExpensesCapital        37     double          8               12           0    0
 37  ExpensesOperational        38     double          8               12           0    0
 38     ExpensesMaterial        39     double          8               12           0    0
 39     ExpensesStaffing        40     double          8               12           0    0
 40      RegionLongitude        41     double          8               12           0    0
 41       RegionLatitude        42     double          8               12           0    0
 42       StateLongitude        43     double          8               12           0    0
 43        StateLatitude        44     double          8               12           0    0
 44        CityLongitude        45     double          8               12           0    0
 45         CityLatitude        46     double          8               12           0    0

+ Elapsed: 0.00173s, user: 0.000187s, sys: 0.00152s, mem: 0.831mb

In [18]:
type(my_tab)

swat.dataframe.SASDataFrame

In [54]:
s.close()