# How to master Python’s main data analysis library at scale with SAS in 20 Minutes (integration between PANDA and SAS Cloud Analytic Services)

### How to use panda syntax transparently and delegate scalable distributed in-memory processing to the SAS Cloud Analytic Services

In [1]:
import os

In [2]:
import pandas as pd
import swat
import sys
from matplotlib import pyplot as plt
%matplotlib inline

## 1) Establish secured connection to SAS Cloud Analytic Service in-memory processing engine

In [3]:
os.environ['CAS_CLIENT_SSL_CA_LIST'] = '/opt/sas/viya/config/etc/SASSecurityCertificateFramework/cacerts/trustedcerts.pem'

In [4]:
cashost='frasepviya35smp'
casport=5570
sess = swat.CAS(cashost, casport)

In [5]:
sess.serverstatus()

NOTE: Grid node action status report: 1 nodes, 9 total actions executed.

[About]

 {'CAS': 'Cloud Analytic Services',
  'Version': '3.05',
  'VersionLong': 'V.03.05M0P11112019',
  'Copyright': 'Copyright © 2014-2018 SAS Institute Inc. All Rights Reserved.',
  'ServerTime': '2021-09-14T07:01:10Z',
  'System': {'Hostname': 'frasepviya35smp.cloud.com',
   'OS Name': 'Linux',
   'OS Family': 'LIN X64',
   'OS Release': '3.10.0-1160.31.1.el7.x86_64',
   'OS Version': '#1 SMP Thu Jun 10 13:32:12 UTC 2021',
   'Model Number': 'x86_64',
   'Linux Distribution': 'CentOS Linux release 7.9.2009 (Core)'},
  'license': {'site': 'viya35_25May2021',
   'siteNum': 70180938,
   'expires': '25May2022:00:00:00',
   'gracePeriod': 45,
   'warningPeriod': 45}}

[server]

 Server Status

    nodes  actions
 0      1        9

[nodestatus]

 Node Status

                         name        role  uptime  running  stalled
 0  frasepviya35smp.cloud.com  controller   3.004        0        0

+ Elapsed: 0.000659s, user: 0.000472s, sys: 0.000152s, mem: 0.304mb

In [8]:
mytab = sess.upload_file('https://raw.githubusercontent.com/FBosler/you-datascientist/master/happiness_with_continent.csv', casout='mytab')

ERROR: The table MYTAB already exists in caslib CASUSER(viyademo01).
ERROR: The action stopped due to errors.

SWATError: The action was not successful.

## 2) Inspecting / Sorting / Filtering data

In [9]:
mytab.head(5)

Selected Rows from Table MYTAB

  Country name    Year  Life Ladder  Log GDP per capita  Social support  Healthy life expectancy at birth  Freedom to make life choices  Generosity  Perceptions of corruption  Positive affect  Negative affect  Confidence in national government  Democratic Quality  Delivery Quality  Standard deviation of ladder by country-year  Standard deviation/Mean of ladder by country-year  GINI index (World Bank estimate)  GINI index (World Bank estimate), average 2000-16  gini of household income reported in Gallup, by wp5-year  Most people can be trusted, Gallup Most people can be trusted, WVS round 1981-1984 Most people can be trusted, WVS round 1989-1993  Most people can be trusted, WVS round 1994-1998  Most people can be trusted, WVS round 1999-2004 Most people can be trusted, WVS round 2005-2009 Most people can be trusted, WVS round 2010-2014 Continent
0  Afghanistan  2008.0     3.723590            7.168690        0.450662                         50.799999                      0.718114    0.177889                   0.881686         0.517637         0.258195                           0.612072           -1.929690         -1.655084                                      1.774662                                           0.476600                               NaN                                                NaN                                                NaN                                        NaN                                                                                                                                              NaN                                              NaN                                                                                                      Asia
1  Afghanistan  2009.0     4.401778            7.333790        0.552308                         51.200001                      0.678896    0.200178                   0.850035         0.583926         0.237092                           0.611545           -2.044093         -1.635025                                      1.722688                                           0.391362                               NaN                                                NaN                                           0.441906                                   0.286315                                                                                                                                              NaN                                              NaN                                                                                                      Asia
2  Afghanistan  2010.0     4.758381            7.386629        0.539075                         51.599998                      0.600127    0.134353                   0.706766         0.618265         0.275324                           0.299357           -1.991810         -1.617176                                      1.878622                                           0.394803                               NaN                                                NaN                                           0.327318                                   0.275833                                                                                                                                              NaN                                              NaN                                                                                                      Asia
3  Afghanistan  2011.0     3.831719            7.415019        0.521104                         51.919998                      0.495901    0.172137                   0.731109         0.611387         0.267175                           0.307386           -1.919018         -1.616221                                      1.785360                                           0.465942                               NaN                                                NaN                                           0.336764                                        NaN                                                                                                                                              NaN                                              NaN                                                                                                      Asia
4  Afghanistan  2012.0     3.782938            7.517126        0.520637                         52.240002                      0.530935    0.244273                   0.775620         0.710385         0.267919                           0.435440           -1.842996         -1.404078                                      1.798283                                           0.475367                               NaN                                                NaN                                           0.344540                                        NaN                                                                                                                                              NaN                                              NaN                                                                                                      Asia

In [10]:
mytab.tail(5)

Selected Rows from Table MYTAB

     Country name    Year  Life Ladder  Log GDP per capita  Social support  Healthy life expectancy at birth  Freedom to make life choices  Generosity  Perceptions of corruption  Positive affect  Negative affect  Confidence in national government  Democratic Quality  Delivery Quality  Standard deviation of ladder by country-year  Standard deviation/Mean of ladder by country-year  GINI index (World Bank estimate)  GINI index (World Bank estimate), average 2000-16  gini of household income reported in Gallup, by wp5-year  Most people can be trusted, Gallup Most people can be trusted, WVS round 1981-1984 Most people can be trusted, WVS round 1989-1993  Most people can be trusted, WVS round 1994-1998  Most people can be trusted, WVS round 1999-2004 Most people can be trusted, WVS round 2005-2009 Most people can be trusted, WVS round 2010-2014 Continent
1699     Zimbabwe  2007.0     3.280247            7.313939        0.828113                         42.860001                      0.455957   -0.061563                   0.946287         0.660861         0.264989                           0.225752           -1.340245         -1.653740                                      1.929571                                           0.588240                               NaN                                              0.432                                                NaN                                        NaN                                                                                                                                              NaN                                         0.116683                                                                             0.08294226974248886    Africa
1700     Zimbabwe  2008.0     3.174264            7.102516        0.843475                         44.139999                      0.343556   -0.068002                   0.963846         0.630983         0.250060                           0.181594           -1.381488         -1.701545                                      1.685007                                           0.530834                               NaN                                              0.432                                                NaN                                        NaN                                                                                                                                              NaN                                         0.116683                                                                             0.08294226974248886    Africa
1701     Zimbabwe  2009.0     4.055914            7.197595        0.805781                         45.419998                      0.411089   -0.055836                   0.930818         0.735503         0.218419                           0.285287           -1.353181         -1.717821                                      2.024098                                           0.499048                               NaN                                              0.432                                           0.545112                                   0.148151                                                                                                                                              NaN                                         0.116683                                                                             0.08294226974248886    Africa
1702     Zimbabwe  2010.0     4.681570            7.296330        0.856638                         46.700001                      0.664718   -0.066457                   0.828361         0.747702         0.122150                           0.471201           -1.289599         -1.693678                                      1.511014                                           0.322758                               NaN                                              0.432                                           0.680030                                        NaN                                                                                                                                              NaN                                         0.116683                                                                             0.08294226974248886    Africa
1703     Zimbabwe  2011.0     4.845642            7.418864        0.864694                         48.119999                      0.632978   -0.062267                   0.829800         0.781189         0.210544                           0.425926           -1.204545         -1.621979                                      1.760146                                           0.363243                             0.432                                              0.432                                           0.514646                                        NaN                                                                                                                                              NaN                                         0.116683                                                                             0.08294226974248886    Africa

In [16]:
mytab["Country name"].nunique()

165

In [28]:
mytab2 = mytab["Country name"].replace("Zimbabwe","Z")

In [38]:
mytab2_sample = mytab2.sample(100)

In [37]:
mytab2

count     1704
unique     165
top          Z
freq        13
Name: Country name, dtype: object

In [25]:
mytab_sample = mytab.sample(100)

In [26]:
mytab_sample.head(100)

Selected Rows from Table _PY_T_919B7EDA_760C_449D_AF1D_12B1B2A8A8E7

                 Country name    Year  Life Ladder  Log GDP per capita  Social support  Healthy life expectancy at birth  Freedom to make life choices  Generosity  Perceptions of corruption  Positive affect  Negative affect  Confidence in national government  Democratic Quality  Delivery Quality  Standard deviation of ladder by country-year  Standard deviation/Mean of ladder by country-year  GINI index (World Bank estimate)  GINI index (World Bank estimate), average 2000-16  gini of household income reported in Gallup, by wp5-year  Most people can be trusted, Gallup Most people can be trusted, WVS round 1981-1984 Most people can be trusted, WVS round 1989-1993  Most people can be trusted, WVS round 1994-1998  Most people can be trusted, WVS round 1999-2004 Most people can be trusted, WVS round 2005-2009 Most people can be trusted, WVS round 2010-2014      Continent
0                 Afghanistan  2012.0     3.782938            7.517126        0.520637                         52.240002                      0.530935    0.244273                   0.775620         0.710385         0.267919                           0.435440           -1.842996         -1.404078                                      1.798283                                           0.475367                               NaN                                                NaN                                           0.344540                                        NaN                                                                                                                                              NaN                                              NaN                                                                                                           Asia
1                      Angola  2014.0     3.794838            8.741481        0.754615                         54.599998                      0.374542   -0.157062                   0.834076         0.578517         0.367864                           0.572346           -0.739363         -1.168539                                      2.196711                                           0.578868                               NaN                                           0.473500                                           0.440699                                        NaN                                                                                                                                              NaN                                              NaN                                                                                                         Africa
2                     Armenia  2007.0     4.881516            8.855183        0.759644                         64.900002                      0.605411   -0.237257                   0.817445         0.507101         0.411717                           0.387620           -0.304466         -0.336200                                      1.709413                                           0.350181                             0.312                                           0.319250                                                NaN                                        NaN                                                                                                                                         0.235000                                              NaN                                                                             0.10913580656051636           Asia
3                     Armenia  2008.0     4.651972            8.930409        0.709486                         65.000000                      0.462157   -0.201642                   0.876099         0.520710         0.384892                           0.464447           -0.433497         -0.220863                                      1.954565                                           0.420158                             0.292                                           0.319250                                                NaN                                        NaN                                                                                                                                         0.235000                                              NaN                                                                             0.10913580656051636           Asia
4                   Australia  2011.0     7.405616           10.642902        0.967029                         72.300003                      0.944586    0.360890                   0.381772         0.815860         0.195324                           0.530787            1.194715          1.835444                                      1.775903                                           0.239805                               NaN                                           0.342750                                           0.431181                                        NaN                              0.4781493842601776                                                                                         0.394492                                              NaN                              0.4613790214061737                              0.5181400775909424        Oceania
5                     Bahrain  2010.0     5.936869           10.610797        0.877115                         66.300003                      0.862003   -0.008563                   0.714620         0.684588         0.422671                                NaN           -0.729693          0.447392                                      1.575712                                           0.265411                               NaN                                                NaN                                           0.325208                                        NaN                                                                                                                                              NaN                                              NaN                                                                              0.3350000083446503           Asia
6                     Bahrain  2014.0     6.165134           10.688241             NaN                         67.419998                           NaN         NaN                        NaN              NaN              NaN                                NaN           -1.109269          0.491516                                      2.422525                                           0.392940                               NaN                                                NaN                                           0.463822                                        NaN                                                                                                                                              NaN                                              NaN                                                                              0.3350000083446503           Asia
7                  Bangladesh  2009.0     5.082851            7.757849        0.527814                         60.279999                      0.630931   -0.068619                   0.776004         0.670300         0.223254                           0.829860           -0.916896         -0.877776                                      1.692142                                           0.332912                               NaN                                           0.327750                                           0.418037                                   0.081799                                                                                                                                         0.204590                                         0.232667                                                                                                           Asia
8                     Belgium  2007.0     7.218840           10.636418        0.921603                         70.260002                      0.900870    0.065763                   0.721093         0.813477         0.217604                           0.602238            1.059100          1.428793                                      1.466421                                           0.203138                             0.292                                           0.284308                                                NaN                                        NaN                                                                                                                                              NaN                                              NaN                                                                                                         Europe
9                     Belgium  2016.0     6.948936           10.647414        0.928964                         71.599998                      0.865759   -0.058440                   0.496659         0.764590         0.259653                           0.419178            0.909132          1.424215                                      1.497024                                           0.215432                               NaN                                           0.284308                                           0.348630                                        NaN                                                                                                                                              NaN                                              NaN                                                                                                         Europe
10                     Bhutan  2014.0     4.938578            8.904688        0.880342                         59.900002                      0.834222    0.277092                   0.650338         0.858864         0.324098                           0.958492            0.482543          0.229389                                      0.991039                                           0.200673                               NaN                                           0.392667                                           0.471104                                        NaN                                                                                                                                              NaN                                              NaN                                                                                                           Asia
11                    Bolivia  2008.0     5.297873            8.554707        0.785262                         60.000000                      0.725620   -0.085718                   0.801420         0.780654         0.392080                           0.441821           -0.346297         -0.748324                                      1.877218                                           0.354334                             0.508                                           0.521600                                                NaN                                        NaN                                                                                                                                              NaN                                              NaN                                                                                                  South America
12     Bosnia and Herzegovina  2011.0     4.994671            9.200453        0.725243                         66.739998                      0.333312   -0.035493                   0.924784         0.596073         0.325735                                NaN           -0.489775         -0.357608                                      2.048556                                           0.410148                             0.330                                           0.325600                                           0.391971                                   0.180863                                                                                                                                         0.247500                                         0.155833                                                                                                         Europe
13                     Brazil  2009.0     7.000832            9.521485        0.912818                         64.260002                      0.766716   -0.065055                   0.722515         0.832505         0.274103                           0.427179            0.344150         -0.055284                                      2.236215                                           0.319421                             0.537                                           0.547286                                           0.428937                                   0.134151                                                                             0.06601986289024353                                              NaN                                              NaN                             0.09381109476089478                             0.07063784450292587  South America
14                   Bulgaria  2015.0     4.865401            9.740979        0.907517                         66.199997                      0.636818   -0.201748                   0.941280         0.642794         0.214224                           0.249677            0.224930          0.102737                                      2.197181                                           0.451593                               NaN                                           0.354667                                           0.358065                                        NaN                                                                                                                                         0.236940                                              NaN                             0.19657067954540253                                                         Europe
15               Burkina Faso  2017.0     4.646891            7.440207        0.784761                         53.400002                      0.613775   -0.054843                   0.727451         0.585172         0.353821                           0.540656           -0.433188         -0.386786                                      2.197592                                           0.472917                               NaN                                           0.394667                                           0.553144                                        NaN                                                                                                                                              NaN                                              NaN                             0.14353418350219727                                                         Africa
16                   Cambodia  2008.0     4.462164            7.804773        0.619264                         56.900002                      0.914173    0.044641                   0.888392         0.739183         0.335324                           0.737532           -0.635804         -0.953722                                      1.429710                                           0.320407                               NaN                                                NaN                                                NaN                                        NaN                                                                                                                                              NaN                                              NaN                                                                                                           Asia
17   Central African Republic  2010.0     3.567893            6.781222        0.483334                         42.700001                      0.689951   -0.016759                   0.845377         0.523006         0.256705                           0.752209           -1.562422         -1.192756                                      1.501912                                           0.420952                               NaN                                           0.499000                                           0.552913                                   0.372606                                                                                                                                              NaN                                              NaN                                                                                                         Africa
18                       Chad  2014.0     3.460183            7.638511        0.733067                         46.380001                      0.566795   -0.083065                   0.880934         0.536371         0.328529                           0.366833           -1.449968         -1.277310                                      1.611134                                           0.465621                               NaN                                           0.415500                                           0.499016                                        NaN                                                                                                                                              NaN                                              NaN                                                                                                         Africa
19                       Chad  2017.0     4.558937            7.477691        0.660616                         47.700001                      0.614850   -0.004920                   0.792390         0.627503         0.538245                           0.473544           -1.356480         -1.349587                                      2.880960                                           0.631937                               NaN                                           0.415500                                           0.561519                                        NaN                                                                                                                                              NaN                                              NaN                                                                                                         Africa
20                      China  2012.0     5.094917            9.318813        0.787818                         67.919998                      0.808255   -0.200405                        NaN         0.820785         0.158703                                NaN           -1.088362         -0.298996                                      2.084000                                           0.409035                             0.422                                           0.425000                                           0.557539                                        NaN                                                                              0.5945945978164673                                         0.504000                                         0.544606                              0.4967800378799439                              0.6145190000534058           Asia

In [27]:
mytab_sample

CASTable('_PY_T_919B7EDA_760C_449D_AF1D_12B1B2A8A8E7', caslib='CASUSER(viyademo01)')

In [10]:
mytab.shape

(1704, 27)

In [11]:
mytab.columns

Index(['Country name', 'Year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect',
       'Confidence in national government', 'Democratic Quality',
       'Delivery Quality', 'Standard deviation of ladder by country-year',
       'Standard deviation/Mean of ladder by country-year',
       'GINI index (World Bank estimate)',
       'GINI index (World Bank estimate), average 2000-16',
       'gini of household income reported in Gallup, by wp5-year',
       'Most people can be trusted, Gallup',
       'Most people can be trusted, WVS round 1981-1984',
       'Most people can be trusted, WVS round 1989-1993',
       'Most people can be trusted, WVS round 1994-1998',
       'Most people can be trusted, WVS round 1999-2004',
       'Most people can be trusted, WVS round 2005-2009',
       'Most people can be trusted, WVS round 2010-2014', 'Continent'],
      dtype='object')

In [12]:
mytab.index

In [5]:
mytab.info()

CASTable('MYTAB', caslib='CASUSER(viyademo01)')
Data columns (total 27 columns):
                                                       N   Miss     Type
Country name                                        1704  False  varchar
Year                                                1704  False   double
Life Ladder                                         1704  False   double
Log GDP per capita                                  1676   True   double
Social support                                      1691   True   double
Healthy life expectancy at birth                    1676   True   double
Freedom to make life choices                        1675   True   double
Generosity                                          1622   True   double
Perceptions of corruption                           1608   True   double
Positive affect                                     1685   True   double
Negative affect                                     1691   True   double
Confidence in national government                   1530   True   double
Democratic Quality                                  1558   True   double
Delivery Quality                                    1559   True   double
Standard deviation of ladder by country-year        1704  False   double
Standard deviation/Mean of ladder by country-year   1704  False   double
GINI index (World Bank estimate)                     643   True   double
GINI index (World Bank estimate), average 2000-16   1502   True   double
gini of household income reported in Gallup, by...  1335   True   double
Most people can be trusted, Gallup                   180   True   double
Most people can be trusted, WVS round 1981-1984      125   True  varchar
Most people can be trusted, WVS round 1989-1993      220   True  varchar
Most people can be trusted, WVS round 1994-1998      618   True   double
Most people can be trusted, WVS round 1999-2004      491   True   double
Most people can be trusted, WVS round 2005-2009      630   True  varchar
Most people can be trusted, WVS round 2010-2014      671   True  varchar
Continent                                           1704  False  varchar
dtypes: double(21), varchar(6)
data size: 505533
vardata size: 55677
memory usage: 505584

In [14]:
mytab.describe()

,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,...,Democratic Quality,Delivery Quality,Standard deviation of ladder by country-year,Standard deviation/Mean of ladder by country-year,GINI index (World Bank estimate),"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004"
count,1704.000000,1704.000000,1676.000000,1691.000000,1676.000000,1675.000000,1622.000000,1608.000000,1685.000000,1691.000000,...,1558.000000,1559.000000,1704.000000,1704.000000,643.000000,1502.000000,1335.000000,180.000000,618.000000,491.000000
mean,2012.332160,5.437155,9.222456,0.810570,63.111971,0.733829,0.000079,0.751315,0.709368,0.265679,...,-0.136053,-0.001390,2.026707,0.392121,0.370000,0.385438,0.447771,0.226295,0.249574,0.268070
std,3.688072,1.121149,1.185794,0.119210,7.583622,0.144115,0.163365,0.186074,0.107984,0.084707,...,0.876074,0.975849,0.401484,0.124661,0.083232,0.082396,0.108505,0.119079,0.118126,0.145120
min,2005.000000,2.661718,6.457201,0.290184,32.299999,0.257534,-0.336385,0.035198,0.362498,0.083426,...,-2.448228,-2.144974,0.863034,0.133908,0.240000,0.211000,0.200969,0.066618,0.048720,0.075872
25%,2009.000000,4.610333,8.303352,0.747411,58.299999,0.638375,-0.115600,0.695672,0.621855,0.205413,...,-0.792426,-0.711580,1.743222,0.310129,0.305000,0.321429,0.368422,0.139727,0.176876,0.155833
50%,2012.000000,5.339557,9.406206,0.833098,65.000000,0.752731,-0.022080,0.805775,0.718541,0.254544,...,-0.227386,-0.218633,1.973070,0.372744,0.352000,0.371000,0.426541,0.198450,0.229924,0.232000
75%,2015.000000,6.274104,10.193813,0.904474,68.300003,0.848194,0.093729,0.876533,0.801530,0.314923,...,0.651249,0.700624,2.242557,0.456327,0.428000,0.432200,0.514960,0.283190,0.294242,0.385469
max,2018.000000,8.018934,11.770276,0.987343,76.800003,0.985178,0.677743,0.983276,0.943621,0.704590,...,1.575009,2.184725,3.718958,1.022769,0.634000,0.626000,0.961435,0.640332,0.647737,0.637185

In [15]:
mytab_sort1= mytab.sort_values(by="Year", ascending=True)

In [16]:
mytab_sort1

CASTable('HMEQ', caslib='CASUSER(viyademo01)').sort_values('Year')

In [17]:
mytab_sort1.head(10)

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014",Continent
0,Australia,2005.0,7.340688,10.569470,0.967892,71.400002,0.934973,NaN,0.390416,0.842648,...,0.342750,NaN,NaN,0.4781493842601776,,0.394492,NaN,0.4613790214061737,0.5181400775909424,Oceania
1,Czech Republic,2005.0,6.439257,10.157401,0.918759,67.000000,0.865235,NaN,0.900733,0.722875,...,0.264167,NaN,NaN,,0.3022751808166504,0.285192,NaN,,,Europe
2,Canada,2005.0,7.418048,10.608347,0.961552,71.300003,0.957306,0.244575,0.502681,0.838544,...,0.336800,NaN,NaN,,,NaN,0.385469,0.4185004532337189,,North America
3,Brazil,2005.0,6.636771,9.417240,0.882923,63.299999,0.882186,NaN,0.744994,0.818337,...,0.547286,NaN,NaN,,0.06601986289024353,NaN,NaN,0.09381109476089478,0.07063784450292587,South America
4,Greece,2005.0,6.006310,10.294153,0.836539,70.500000,0.734172,NaN,0.860563,0.691998,...,0.346385,NaN,NaN,,,NaN,NaN,,,Europe
5,Germany,2005.0,6.619550,10.537519,0.963490,70.199997,0.846624,NaN,0.781007,0.775692,...,0.306222,NaN,NaN,,,0.321323,NaN,0.3435913622379303,0.4474876523017883,Europe
6,France,2005.0,7.093393,10.505228,0.940338,71.300003,0.894819,NaN,0.687851,0.768988,...,0.320923,NaN,NaN,,,NaN,NaN,0.18764232099056244,,Europe
7,Egypt,2005.0,5.167754,8.987387,0.847842,59.700001,0.817362,NaN,NaN,0.734863,...,0.312000,NaN,NaN,,,NaN,0.374667,0.1850128024816513,0.2150088995695114,Africa
8,Denmark,2005.0,8.018934,10.704770,0.972372,69.599998,0.971135,NaN,0.236522,0.859549,...,0.267000,NaN,NaN,,,NaN,NaN,,,Europe
9,Belgium,2005.0,7.262290,10.591697,0.934875,69.900002,0.923843,NaN,0.597554,0.796279,...,0.284308,NaN,NaN,,,NaN,NaN,,,Europe

In [18]:
mytab_sort2= mytab.sort_values(
    by=['Country name','Year'], ascending=[False,True])

In [19]:
mytab_sort2.head(10)

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014",Continent
0,Zimbabwe,2006.0,3.826268,7.366704,0.821656,41.580002,0.431110,-0.056554,0.904757,0.715229,...,0.432,NaN,NaN,,,NaN,0.116683,,0.08294226974248886,Africa
1,Zimbabwe,2007.0,3.280247,7.313939,0.828113,42.860001,0.455957,-0.061563,0.946287,0.660861,...,0.432,NaN,NaN,,,NaN,0.116683,,0.08294226974248886,Africa
2,Zimbabwe,2008.0,3.174264,7.102516,0.843475,44.139999,0.343556,-0.068002,0.963846,0.630983,...,0.432,NaN,NaN,,,NaN,0.116683,,0.08294226974248886,Africa
3,Zimbabwe,2009.0,4.055914,7.197595,0.805781,45.419998,0.411089,-0.055836,0.930818,0.735503,...,0.432,0.545112,0.148151,,,NaN,0.116683,,0.08294226974248886,Africa
4,Zimbabwe,2010.0,4.681570,7.296330,0.856638,46.700001,0.664718,-0.066457,0.828361,0.747702,...,0.432,0.680030,NaN,,,NaN,0.116683,,0.08294226974248886,Africa
5,Zimbabwe,2011.0,4.845642,7.418864,0.864694,48.119999,0.632978,-0.062267,0.829800,0.781189,...,0.432,0.514646,NaN,,,NaN,0.116683,,0.08294226974248886,Africa
6,Zimbabwe,2012.0,4.955101,7.534424,0.896476,49.540001,0.469531,-0.075712,0.858691,0.669279,...,0.432,0.487203,NaN,,,NaN,0.116683,,0.08294226974248886,Africa
7,Zimbabwe,2013.0,4.690188,7.565154,0.799274,50.959999,0.575884,-0.079458,0.830937,0.711885,...,0.432,0.555439,NaN,,,NaN,0.116683,,0.08294226974248886,Africa
8,Zimbabwe,2014.0,4.184451,7.562753,0.765839,52.380001,0.642034,-0.048634,0.820217,0.725214,...,0.432,0.601080,NaN,,,NaN,0.116683,,0.08294226974248886,Africa
9,Zimbabwe,2015.0,3.703191,7.556052,0.735800,53.799999,0.667193,-0.097354,0.810457,0.715079,...,0.432,0.655137,NaN,,,NaN,0.116683,,0.08294226974248886,Africa

In [20]:
mytab_sort2.loc[:, 'Country name'].head()

0    Zimbabwe
1    Zimbabwe
2    Zimbabwe
3    Zimbabwe
4    Zimbabwe
Name: Country name, dtype: object

In [21]:
mytab_sort2.iloc[:, 1].head()

0    2006.0
1    2007.0
2    2008.0
3    2009.0
4    2010.0
Name: Year, dtype: float64

In [22]:
mytab_sort2.iloc[:, [1,5,3]].head()

Selected Rows from Table HMEQ

     Year  Healthy life expectancy at birth  Log GDP per capita
0  2006.0                         41.580002            7.366704
1  2007.0                         42.860001            7.313939
2  2008.0                         44.139999            7.102516
3  2009.0                         45.419998            7.197595
4  2010.0                         46.700001            7.296330

In [23]:
mytab.sort_values(
    by=['Country name','Year'], ascending=[False,True], inplace=True)

In [24]:
mytab.head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014",Continent
0,Zimbabwe,2006.0,3.826268,7.366704,0.821656,41.580002,0.431110,-0.056554,0.904757,0.715229,...,0.432,NaN,NaN,,,NaN,0.116683,,0.08294226974248886,Africa
1,Zimbabwe,2007.0,3.280247,7.313939,0.828113,42.860001,0.455957,-0.061563,0.946287,0.660861,...,0.432,NaN,NaN,,,NaN,0.116683,,0.08294226974248886,Africa
2,Zimbabwe,2008.0,3.174264,7.102516,0.843475,44.139999,0.343556,-0.068002,0.963846,0.630983,...,0.432,NaN,NaN,,,NaN,0.116683,,0.08294226974248886,Africa
3,Zimbabwe,2009.0,4.055914,7.197595,0.805781,45.419998,0.411089,-0.055836,0.930818,0.735503,...,0.432,0.545112,0.148151,,,NaN,0.116683,,0.08294226974248886,Africa
4,Zimbabwe,2010.0,4.681570,7.296330,0.856638,46.700001,0.664718,-0.066457,0.828361,0.747702,...,0.432,0.680030,NaN,,,NaN,0.116683,,0.08294226974248886,Africa

In [34]:
mytab['Year'].head(5)

0    2006.0
1    2007.0
2    2008.0
3    2009.0
4    2010.0
Name: Year, dtype: float64

In [35]:
mytab[['Country name','Life Ladder']].sample(5).head(5)

Selected Rows from Table _PY_T_FFAE7B2B_B1A1_4B31_BFF4_3E86335BF6D4

     Country name  Life Ladder
0       Argentina     6.073158
1         Bolivia     5.834329
2           China     5.037208
3  Czech Republic     6.249618
4     El Salvador     5.700930

In [36]:
mytab_pd = mytab.to_frame()

In [37]:
mytab[mytab['Country name'] == 'Macedonia'].head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014",Continent
0,Macedonia,2007.0,4.493598,9.257283,0.810538,66.139999,0.439400,0.080502,0.869546,0.602946,...,0.390167,NaN,NaN,,,0.075377,0.130688,,,Europe
1,Macedonia,2009.0,4.428022,9.305205,0.734431,66.379997,0.552174,-0.041417,0.843916,0.575552,...,0.390167,0.401139,0.121652,,,0.075377,0.130688,,,Europe
2,Macedonia,2010.0,4.180202,9.337446,0.686855,66.500000,0.513184,-0.057998,0.856453,0.566944,...,0.390167,0.387459,0.091314,,,0.075377,0.130688,,,Europe
3,Macedonia,2011.0,4.898180,9.359781,0.784300,66.580002,0.607463,-0.086839,0.865062,0.588337,...,0.390167,0.492776,0.116461,,,0.075377,0.130688,,,Europe
4,Macedonia,2012.0,4.639647,9.354412,0.798305,66.660004,0.613056,-0.083973,0.919845,0.641887,...,0.390167,0.375651,NaN,,,0.075377,0.130688,,,Europe

In [38]:
mytab[(mytab['Country name'] == 'Macedonia') & (mytab['Life Ladder']>4)].head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014",Continent
0,Macedonia,2007.0,4.493598,9.257283,0.810538,66.139999,0.439400,0.080502,0.869546,0.602946,...,0.390167,NaN,NaN,,,0.075377,0.130688,,,Europe
1,Macedonia,2009.0,4.428022,9.305205,0.734431,66.379997,0.552174,-0.041417,0.843916,0.575552,...,0.390167,0.401139,0.121652,,,0.075377,0.130688,,,Europe
2,Macedonia,2010.0,4.180202,9.337446,0.686855,66.500000,0.513184,-0.057998,0.856453,0.566944,...,0.390167,0.387459,0.091314,,,0.075377,0.130688,,,Europe
3,Macedonia,2011.0,4.898180,9.359781,0.784300,66.580002,0.607463,-0.086839,0.865062,0.588337,...,0.390167,0.492776,0.116461,,,0.075377,0.130688,,,Europe
4,Macedonia,2012.0,4.639647,9.354412,0.798305,66.660004,0.613056,-0.083973,0.919845,0.641887,...,0.390167,0.375651,NaN,,,0.075377,0.130688,,,Europe

# Merge/ several table

In [39]:
user_usage = sess.CASTable('user_usage')
user_device = sess.CASTable('user_device')
android_devices = sess.CASTable('android_devices')

if user_usage.tableexists().exists:
    user_usage.droptable()

if user_device.tableexists().exists:
    user_device.droptable()

if android_devices.tableexists().exists:
    android_devices.droptable()

user_usage = sess.upload_file('https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_usage.csv', casout=user_usage)
user_device = sess.upload_file('https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_device.csv', casout=user_device)
android_devices = sess.upload_file('https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/android_devices.csv', casout=android_devices)

NOTE: Cloud Analytic Services made the uploaded file available as table USER_USAGE in caslib CASUSER(viyademo01).
NOTE: The table USER_USAGE has been created in caslib CASUSER(viyademo01) from binary data uploaded to Cloud Analytic Services.
NOTE: Cloud Analytic Services made the uploaded file available as table USER_DEVICE in caslib CASUSER(viyademo01).
NOTE: The table USER_DEVICE has been created in caslib CASUSER(viyademo01) from binary data uploaded to Cloud Analytic Services.
NOTE: Cloud Analytic Services made the uploaded file available as table ANDROID_DEVICES in caslib CASUSER(viyademo01).
NOTE: The table ANDROID_DEVICES has been created in caslib CASUSER(viyademo01) from binary data uploaded to Cloud Analytic Services.

In [41]:
%%time
result = swat.functions.merge(user_usage,user_device[['use_id', 'platform', 'device']], on='use_id')

CPU times: user 120 ms, sys: 2.53 ms, total: 123 ms
Wall time: 157 ms

In [42]:
user_usage.shape

(240, 4)

In [43]:
user_device.shape

(272, 6)

In [44]:
result.shape

(159, 6)

In [45]:
%%time
result = swat.functions.merge(user_usage,user_device[['use_id', 'platform', 'device']], on='use_id', how='left')

CPU times: user 126 ms, sys: 2.47 ms, total: 128 ms
Wall time: 172 ms

In [25]:
sess.close()