In [22]:
import pandas as pd
import os
import swat
import time
from pprint import pprint

## Connection to CAS

In [23]:
os.environ['CAS_CLIENT_SSL_CA_LIST'] = '/opt/sas/viya/config/etc/SASSecurityCertificateFramework/cacerts/trustedcerts.pem'
#os.environ['CAS_CLIENT_SSL_CA_LIST'] = '/mnt/c/Users/frasep/OneDrive - SAS/Mes Documents/Dossiers/Demoing/My_Azure_Environments/terraform_monoserver/cacerts/'

cashost='frasepviya35smp.cloud.com'
casport=5570
s = swat.CAS(cashost, casport)
s.sessionProp.setSessOpt(timeout=1800, caslib='casuser', messageLevel="ALL", metrics='true')

NOTE: 'CASUSER(viyademo01)' is now the active caslib.
NOTE: Action 'sessionProp.setSessOpt' used (Total process time):
NOTE:       real time               0.000415 seconds
NOTE:       cpu time                0.000393 seconds (94.70%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  278.19K (0.00%)

+ Elapsed: 0.000415s, user: 0.000393s, mem: 0.272mb

In [24]:
s.loadActionset('fedSql')
s.loadActionset('sampling')
s.loadActionset('datapreprocess')

NOTE: Executing action 'builtins.loadActionSet'.
NOTE: Added action set 'fedSql'.
NOTE: Action 'builtins.loadActionSet' used (Total process time):
NOTE:       real time               0.001658 seconds
NOTE:       cpu time                0.001619 seconds (97.65%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  264.44K (0.00%)
NOTE: Executing action 'builtins.loadActionSet'.
NOTE: Added action set 'sampling'.
NOTE: Action 'builtins.loadActionSet' used (Total process time):
NOTE:       real time               0.002168 seconds
NOTE:       cpu time                0.002150 seconds (99.17%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  248.28K (0.00%)
NOTE: Executing action 'builtins.loadActionSet'.
NOTE: Added action set 'datapreprocess'.
NOTE: Action 'builtins.loadActionSet' used (Total process time):
NOTE:       real time               0.000397 seconds
NOTE:       cpu time                0.000369 seconds (92.95%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  227.16K (0.00%)

[actionset]

 'datapreprocess'

+ Elapsed: 0.000397s, user: 0.00022s, sys: 0.000149s, mem: 0.222mb

In [25]:
s.table.addcaslib(name="AzureDL", dataSource={"srctype":"adls", "accountname":'frasepstorage',"filesystem":"datalake", "tenantid":"b1c14d5c-3625-45b3-a430-9552373a0c2f","applicationId":"e7af42e8-3ca8-47bb-97ce-ac764019be3a","timeout":"50000"}, path="/", subDirectories="True", session="True")

NOTE: Executing action 'table.addCaslib'.
NOTE: 'AzureDL' is now the active caslib.
NOTE: Cloud Analytic Services added the caslib 'AzureDL'.
NOTE: Action 'table.addCaslib' used (Total process time):
NOTE:       real time               0.001084 seconds
NOTE:       cpu time                0.001054 seconds (97.23%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  778.53K (0.00%)

[CASLibInfo]

       Name  Type Description Path                                         Definition  Subdirs  Local  Active  Personal  Hidden  Transient
 0  AzureDL  adls                /                                    timeout = 50000      1.0    1.0     1.0       0.0     0.0        0.0
 1  AzureDL                                             accountName = 'frasepstorage'      NaN    NaN     NaN       NaN     NaN        NaN
 2  AzureDL                                                   fileSystem = 'datalake'      NaN    NaN     NaN       NaN     NaN        NaN
 3  AzureDL                         tenantId = 'b1c14d5c-3625-45b3-a430-9552373a0c2f'      NaN    NaN     NaN       NaN     NaN        NaN
 4  AzureDL                         applicationId = 'e7af42e8-3ca8-47bb-97ce-ac764...      NaN    NaN     NaN       NaN     NaN        NaN

+ Elapsed: 0.00108s, user: 0.00104s, sys: 1.2e-05s, mem: 0.76mb

In [26]:
s.table.fileinfo(caslib="AzureDL", allfiles="true", includedirectories="true")

NOTE: Executing action 'table.fileInfo'.
NOTE: Action 'table.fileInfo' used (Total process time):
NOTE:       real time               0.188600 seconds
NOTE:       cpu time                0.014438 seconds (7.66%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  994.25K (0.00%)

[FileInfo]

    Permission                       Owner       Group                                Name      Size                       Time       ModTime               ETag
 0  -rw-r-----                  $superuser  $superuser  CHURN_DONNEES_CLIENT_BRUTES_FR.orc    466761  2020-09-03T07:41:18+00:00  1.914738e+09  0x8D84FDCBEF7ABE2
 1  -rw-r-----                  $superuser  $superuser                        CHURN_FR.orc     63883  2020-09-03T07:41:19+00:00  1.914738e+09  0x8D84FDCBF1BAF65
 2  -rw-r-----  Sebastien.Poussart@sas.com  $superuser          ds_output_megacorp5_4m.orc     30101  2021-04-12T16:34:50+00:00  1.933864e+09  0x8D8FDD0E47BD455
 3  -rw-r-----  Sebastien.Poussart@sas.com  $superuser                      hmeq_train.orc     63717  2021-01-04T15:29:21+00:00  1.925393e+09  0x8D8B0C582229685
 4  -rw-r-----  Sebastien.Poussart@sas.com  $superuser                    megacorp5_4m.orc  94724253  2020-09-08T20:14:46+00:00  1.915215e+09  0x8D85433D4EF5A75

+ Elapsed: 0.189s, user: 0.0103s, sys: 0.00413s, mem: 0.971mb

In [27]:
s.table.loadtable(caslib="AzureDL", path="megacorp5_4m.orc", casout="megacorp5_4m");

NOTE: Executing action 'table.loadTable'.
NOTE: Cloud Analytic Services made the external data from megacorp5_4m.orc available as table MEGACORP5_4M in caslib AzureDL.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               20.342751 seconds
NOTE:       cpu time                16.486252 seconds (81.04%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  31.13M (0.02%)

## Create personal CAS libraries to execute the tests

In [28]:
s.table.addcaslib(name="dnfs", dataSource={"srctype":"dnfs"}, path="/mnt/demo/dnfs")
s.table.addcaslib(name="mydata", dataSource={"srctype":"path"}, path="/mnt/demo/sasdata")

NOTE: Executing action 'table.addCaslib'.
NOTE: 'dnfs' is now the active caslib.
NOTE: Cloud Analytic Services added the caslib 'dnfs'.
NOTE: Action 'table.addCaslib' used (Total process time):
NOTE:       real time               0.001125 seconds
NOTE:       cpu time                0.001098 seconds (97.60%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  766.97K (0.00%)
NOTE: Executing action 'table.addCaslib'.
NOTE: 'mydata' is now the active caslib.
NOTE: Cloud Analytic Services added the caslib 'mydata'.
NOTE: Action 'table.addCaslib' used (Total process time):
NOTE:       real time               0.000782 seconds
NOTE:       cpu time                0.000760 seconds (97.19%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  773.97K (0.00%)

[CASLibInfo]

      Name  Type Description                Path Definition  Subdirs  Local  Active  Personal  Hidden  Transient
 0  mydata  PATH              /mnt/demo/sasdata/                 0.0    1.0     1.0       0.0     0.0        0.0

+ Elapsed: 0.000782s, user: 0.00076s, mem: 0.756mb

In [29]:
s.table.save(caslib="dnfs",name="megacorp5_4m.parquet",table={"caslib":"AzureDL","name":"megacorp5_4m"}, replace="true")
s.table.save(caslib="mydata",name="megacorp5_4m.sas7bdat",table={"caslib":"AzureDL","name":"megacorp5_4m"},replace="true")

NOTE: Executing action 'table.save'.
NOTE: Cloud Analytic Services saved the file megacorp5_4m.parquet in caslib dnfs.
NOTE: Action 'table.save' used (Total process time):
NOTE:       real time               11.370161 seconds
NOTE:       cpu time                33.875282 seconds (297.93%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  1.77G (1.41%)
NOTE: Executing action 'table.save'.
NOTE: Cloud Analytic Services saved the file megacorp5_4m.sas7bdat in caslib mydata.
NOTE: Action 'table.save' used (Total process time):
NOTE:       real time               8.168036 seconds
NOTE:       cpu time                8.058875 seconds (98.66%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  21.45M (0.02%)

[caslib]

 'mydata'

[name]

 'megacorp5_4m.sas7bdat'

+ Elapsed: 8.17s, user: 5.35s, sys: 2.71s, mem: 21.4mb

In [30]:
s.table.fileinfo(caslib="dnfs", allfiles='true', includedirectories='true')

NOTE: Executing action 'table.fileInfo'.
NOTE: Action 'table.fileInfo' used (Total process time):
NOTE:       real time               0.000632 seconds
NOTE:       cpu time                0.000610 seconds (96.52%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  434.06K (0.00%)

[FileInfo]

 Empty SASDataFrame
 Columns: [Permission, Owner, Group, Name, Size, Encryption, Time, ModTime]
 Index: []

+ Elapsed: 0.000632s, user: 0.000537s, sys: 7.3e-05s, mem: 0.424mb

In [31]:
s.table.fileinfo(caslib="mydata", allfiles='true', includedirectories='true')

NOTE: Executing action 'table.fileInfo'.
NOTE: Action 'table.fileInfo' used (Total process time):
NOTE:       real time               0.001478 seconds
NOTE:       cpu time                0.001452 seconds (98.24%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  722.69K (0.00%)

[FileInfo]

    Permission       Owner      Group                   Name        Size Encryption                       Time       ModTime
 0  -rwxr-xr-x  viyademo01  marketing  megacorp5_4m.sas7bdat  1774985216             2021-10-01T09:36:03+00:00  1.948700e+09

+ Elapsed: 0.00148s, user: 0.0014s, sys: 5.3e-05s, mem: 0.706mb

In [33]:
# Necessary if no test file as been already loaded in parquet file
s.table.loadtable(caslib="mydata", path="megacorp5_4m.sas7bdat", casout={"name":"megacorp5_4m", "caslib":"mydata"})
s.table.tabledetails(caslib="mydata", name="megacorp5_4m")
#s.table.save(caslib="dnfs", name="megacorp5_4m.parquet", table={"caslib":"mydata","name":"megacorp5_4m"}, replace="true")

NOTE: Executing action 'table.loadTable'.
NOTE: Cloud Analytic Services made the file megacorp5_4m.sas7bdat available as table MEGACORP5_4M in caslib mydata.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               3.589239 seconds
NOTE:       cpu time                3.588751 seconds (99.99%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  19.68M (0.02%)
NOTE: Executing action 'table.tableDetails'.
NOTE: Action 'table.tableDetails' used (Total process time):
NOTE:       real time               0.000935 seconds
NOTE:       cpu time                0.000904 seconds (96.68%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  723.31K (0.00%)

[TableDetails]

   Node  Blocks  Active     Rows  IndexSize    DataSize  VardataSize  CompressedSize  CompressionRatio  Mapped  MappedMemory  Unmapped  UnmappedMemory  Allocated  AllocatedMemory  DeletedRows
 0  ALL    1795    1795  4522868          0  1881513088            0               0                 0    1792    1878797312         0               0          3          2923648            0

+ Elapsed: 0.000935s, user: 0.000779s, sys: 0.000125s, mem: 0.706mb

### Get the size of generated partitioned parquet file

In [34]:
stream = os.popen("du -sh /mnt/demo/dnfs/megacorp5_4m.parquet")
output = stream.read()
print(output)

132M	/mnt/demo/dnfs/megacorp5_4m.parquet

### Get the size of original sas7bdat file

In [36]:
stream = os.popen("du -sh /mnt/demo/sasdata/megacorp5_4m.sas7bdat")
output = stream.read()
print(output)

1.7G	/mnt/demo/sasdata/megacorp5_4m.sas7bdat

In [37]:
s.table.columninfo(table={"caslib":"dnfs", "name":"megacorp5_4m.parquet"})

NOTE: Executing action 'table.columnInfo'.
NOTE: Action 'table.columnInfo' used (Total process time):
NOTE:       real time               0.003353 seconds
NOTE:       cpu time                0.003323 seconds (99.11%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  866.09K (0.00%)

[ColumnInfo]

                  Column Label  ID    Type  RawLength  FormattedLength Format  NFL  NFD
 0                  Date         1  double          8               12           0    0
 1            DateByYear         2  double          8               12           0    0
 2           DateByMonth         3  double          8               12           0    0
 3             DayOfWeek         4  double          8               12           0    0
 4            FacilityID         5  double          8               12           0    0
 5              Facility         6    char          7                7           0    0
 6          FacilityType         7    char          5                5           0    0
 7           FacilityAge         8  double          8               12           0    0
 8         EmployeesUsed         9  double          8               12           0    0
 9        FacilityRegion        10    char          5                5           0    0
 10        FacilityState        11    char          2                2           0    0
 11         FacilityCity        12    char         14               14           0    0
 12               UnitID        13  double          8               12           0    0
 13                 Unit        14    char         12               12           0    0
 14         UnitDowntime        15  double          8               12           0    0
 15              UnitAge        16  double          8               12           0    0
 16         UnitLifespan        17  double          8               12           0    0
 17    UnitLifespanLimit        18  double          8               12           0    0
 18      UnitReliability        19  double          8               12           0    0
 19           UnitStatus        20    char          7                7           0    0
 20         UnitCapacity        21  double          8               12           0    0
 21      UnitYieldTarget        22  double          8               12           0    0
 22      UnitYieldActual        23  double          8               12           0    0
 23        UnitYieldRate        24  double          8               12           0    0
 24         ProductBrand        25    char          7                7           0    0
 25          ProductLine        26    char         14               14           0    0
 26            ProductID        27  double          8               12           0    0
 27              Product        28    char         15               15           0    0
 28   ProductDescription        29    char         20               20           0    0
 29   ProductPriceTarget        30  double          8               12           0    0
 30   ProductPriceActual        31  double          8               12           0    0
 31  ProductMaterialCost        32  double          8               12           0    0
 32       ProductQuality        33  double          8               12           0    0
 33               Profit        34  double          8               12           0    0
 34              Revenue        35  double          8               12           0    0
 35             Expenses        36  double          8               12           0    0
 36      ExpensesCapital        37  double          8               12           0    0
 37  ExpensesOperational        38  double          8               12           0    0
 38     ExpensesMaterial        39  double          8               12           0    0
 39     ExpensesStaffing        40  double          8               12           0    0
 40      RegionLongitude        41  double          8               12           0    0
 41       RegionLatitude        42  double          8               12           0    0
 42       StateLongitude        43  double          8               12           0    0
 43        StateLatitude        44  double          8               12           0    0
 44        CityLongitude        45  double          8               12           0    0
 45         CityLatitude        46  double          8               12           0    0

+ Elapsed: 0.00335s, user: 0.00127s, sys: 0.00205s, mem: 0.846mb

In [38]:
s.table.columninfo(table={"caslib":"mydata", "name":"megacorp5_4m.sas7bdat"})

NOTE: Executing action 'table.columnInfo'.
NOTE: Action 'table.columnInfo' used (Total process time):
NOTE:       real time               0.002337 seconds
NOTE:       cpu time                0.002309 seconds (98.80%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  874.44K (0.00%)

[ColumnInfo]

                  Column Label  ID    Type  RawLength  FormattedLength Format  NFL  NFD
 0                  Date         1  double          8               12   BEST   12    0
 1            DateByYear         2  double          8               12   BEST   12    0
 2           DateByMonth         3  double          8               12   BEST   12    0
 3             DayOfWeek         4  double          8               12   BEST   12    0
 4            FacilityID         5  double          8               12   BEST   12    0
 5              Facility         6    char          7                7      $    7    0
 6          FacilityType         7    char          5                5      $    5    0
 7           FacilityAge         8  double          8               12   BEST   12    0
 8         EmployeesUsed         9  double          8               12   BEST   12    0
 9        FacilityRegion        10    char          5                5      $    5    0
 10        FacilityState        11    char          2                2      $    2    0
 11         FacilityCity        12    char         14               14      $   14    0
 12               UnitID        13  double          8               12   BEST   12    0
 13                 Unit        14    char         12               12      $   12    0
 14         UnitDowntime        15  double          8               12   BEST   12    0
 15              UnitAge        16  double          8               12   BEST   12    0
 16         UnitLifespan        17  double          8               12   BEST   12    0
 17    UnitLifespanLimit        18  double          8               12   BEST   12    0
 18      UnitReliability        19  double          8               12   BEST   12    0
 19           UnitStatus        20    char          7                7      $    7    0
 20         UnitCapacity        21  double          8               12   BEST   12    0
 21      UnitYieldTarget        22  double          8               12   BEST   12    0
 22      UnitYieldActual        23  double          8               12   BEST   12    0
 23        UnitYieldRate        24  double          8               12   BEST   12    0
 24         ProductBrand        25    char          7                7      $    7    0
 25          ProductLine        26    char         14               14      $   14    0
 26            ProductID        27  double          8               12   BEST   12    0
 27              Product        28    char         15               15      $   15    0
 28   ProductDescription        29    char         20               20      $   20    0
 29   ProductPriceTarget        30  double          8               12   BEST   12    0
 30   ProductPriceActual        31  double          8               12   BEST   12    0
 31  ProductMaterialCost        32  double          8               12   BEST   12    0
 32       ProductQuality        33  double          8               12   BEST   12    0
 33               Profit        34  double          8               12   BEST   12    0
 34              Revenue        35  double          8               12   BEST   12    0
 35             Expenses        36  double          8               12   BEST   12    0
 36      ExpensesCapital        37  double          8               12   BEST   12    0
 37  ExpensesOperational        38  double          8               12   BEST   12    0
 38     ExpensesMaterial        39  double          8               12   BEST   12    0
 39     ExpensesStaffing        40  double          8               12   BEST   12    0
 40      RegionLongitude        41  double          8               12   BEST   12    0
 41       RegionLatitude        42  double          8               12   BEST   12    0
 42       StateLongitude        43  double          8               12   BEST   12    0
 43        StateLatitude        44  double          8               12   BEST   12    0
 44        CityLongitude        45  double          8               12   BEST   12    0
 45         CityLatitude        46  double          8               12   BEST   12    0

+ Elapsed: 0.00234s, user: 0.00126s, sys: 0.00104s, mem: 0.854mb

### Compute aggregates direclty on parquet files using CAS processing native support of parquet data without any data conversion to default CAS in-memory format

In [39]:
s.simple.summary(
        inputs={"Revenue","Expenses"},
        subSet={"SUM"},
        table={"caslib":"dnfs", "name":"megacorp5_4m.parquet", "groupBy":{"FacilityRegion","product","ProductLine","Productbrand"}}, 
        casout={"caslib":"casuser","name":"megacorp_summary","replace":"True","replication":"0"})

castbl = s.CASTable(caslib="casuser", name="megacorp_summary")
castbl.head()

NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.006244 seconds
NOTE:       cpu time                0.006232 seconds (99.81%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  702.09K (0.00%)
NOTE: Executing action 'simple.summary'.
NOTE: Action 'simple.summary' used (Total process time):
NOTE:       real time               0.413775 seconds
NOTE:       cpu time                4.642977 seconds (1122.10%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  44.31M (0.03%)

Selected Rows from Table MEGACORP_SUMMARY

     ProductLine  ProductLine_f FacilityRegion FacilityRegion_f ProductBrand ProductBrand_f          Product        Product_f  _Column_         _Sum_
0  Action Figure  Action Figure           East             East          Toy            Toy                .                .   Revenue  0.000000e+00
1  Action Figure  Action Figure           East             East          Toy            Toy                .                .  Expenses  1.425666e+06
2  Action Figure  Action Figure           East             East          Toy            Toy          Athlete          Athlete   Revenue  1.623308e+05
3  Action Figure  Action Figure           East             East          Toy            Toy          Athlete          Athlete  Expenses  3.143278e+05
4  Action Figure  Action Figure           East             East          Toy            Toy      Firefighter      Firefighter   Revenue  1.536541e+05

### Load in CAS by filtering parquet file rows and columns

In [40]:
s.table.loadtable(
    caslib="dnfs", 
    path="megacorp5_4m.parquet",
    where="year(DateByYear) in (2007,2008,2009)", 
    casout={"caslib":"dnfs", "name":"test_megacorp_parquet","replace":"true","replication":"0"}
)

NOTE: Executing action 'table.loadTable'.
NOTE: Cloud Analytic Services made the file megacorp5_4m.parquet available as table TEST_MEGACORP_PARQUET in caslib dnfs.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               1.352176 seconds
NOTE:       cpu time                17.198809 seconds (1271.94%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  344.59M (0.27%)

[caslib]

 'dnfs'

[tableName]

 'TEST_MEGACORP_PARQUET'

[casTable]

 CASTable('TEST_MEGACORP_PARQUET', caslib='dnfs')

+ Elapsed: 1.35s, user: 16.8s, sys: 0.402s, mem: 345mb

### Apply date format where necessary (parquet save loses the format in Viya 3.5)

In [41]:
s.table.alterTable(caslib="dnfs",
    columns=[
        {"format":"DATE9.","name":"Date"},
        {"format":"DATE9.","name":"DateByYear"},
        {"format":"DATE9.","name":"DateByMonth"}],
    name="test_megacorp_parquet")

NOTE: Executing action 'table.alterTable'.
NOTE: Action 'table.alterTable' used (Total process time):
NOTE:       real time               0.000637 seconds
NOTE:       cpu time                0.000603 seconds (94.66%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  329.34K (0.00%)

+ Elapsed: 0.000637s, user: 0.000538s, sys: 6.5e-05s, mem: 0.322mb

In [42]:
s.fedsql.execdirect(query="select FacilityRegion, datebyyear, count(*) from dnfs.test_megacorp_parquet group by FacilityRegion, datebyyear")

NOTE: Executing action 'fedSql.execDirect'.
NOTE: Action 'fedSql.execDirect' used (Total process time):
NOTE:       real time               0.275830 seconds
NOTE:       cpu time                0.996872 seconds (361.41%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  87.17M (0.07%)

[Result Set]

    FacilityRegion  DateByYear  COUNT
 0           North  2009-01-01  19414
 1           North  2008-01-01  15200
 2            East  2008-01-01  16081
 3            West  2009-01-01  42151
 4            West  2007-01-01  58400
 5            East  2009-01-01  11021
 6            East  2007-01-01  13650
 7           South  2007-01-01  93649
 8            West  2008-01-01  58957
 9           South  2009-01-01  65148
 10          North  2007-01-01  16164
 11          South  2008-01-01  92750

+ Elapsed: 0.276s, user: 0.894s, sys: 0.103s, mem: 87.2mb

In [43]:
s.table.fetch(table={"caslib":"dnfs", "name":"test_megacorp_parquet"},to=10)

NOTE: Executing action 'table.fetch'.
NOTE: Action 'table.fetch' used (Total process time):
NOTE:       real time               0.002353 seconds
NOTE:       cpu time                0.002320 seconds (98.60%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  1.01M (0.00%)

[Fetch]

 Selected Rows from Table TEST_MEGACORP_PARQUET

          Date  DateByYear DateByMonth  DayOfWeek  FacilityID Facility FacilityType  FacilityAge  EmployeesUsed FacilityRegion FacilityState FacilityCity  UnitID          Unit  UnitDowntime  UnitAge  UnitLifespan  UnitLifespanLimit  UnitReliability UnitStatus  UnitCapacity  UnitYieldTarget  UnitYieldActual  UnitYieldRate ProductBrand ProductLine  ProductID Product ProductDescription  ProductPriceTarget  ProductPriceActual  ProductMaterialCost  ProductQuality      Profit     Revenue   Expenses  ExpensesCapital  ExpensesOperational  ExpensesMaterial  ExpensesStaffing  RegionLongitude  RegionLatitude  StateLongitude  StateLatitude  CityLongitude  CityLatitude
 0  2007-01-04  2007-01-01  2007-01-01        5.0        42.0  WA00042        Plant         15.0       0.137647           West            WA      Seattle    44.0  TOYGM0000044           0.0      3.0          0.75                0.5         0.934631     active          48.0             45.0             33.0       0.733333          Toy        Game  2060892.0  Puzzle          500 Piece           21.057938           21.057938            12.634766             1.0   46.148331   72.745667  26.597336              0.0             3.137255         17.229229         10.825312      -115.530266        41.05957     -119.721215       47.27295     -122.33083      47.60639
 1  2007-05-10  2007-01-01  2007-05-01        5.0        42.0  WA00042        Plant         15.0       0.149032           West            WA      Seattle    44.0  TOYGM0000044           0.0      3.0          0.75                0.5         0.925320     active          48.0             45.0             30.0       0.666667          Toy        Game  2106552.0  Puzzle         2500 Piece           21.057938           21.057938            12.634766             1.0  135.876871  163.830994  27.954123              0.0             3.446237         18.952153         11.873118      -115.530266        41.05957     -119.721215       47.27295     -122.33083      47.60639
 2  2007-04-27  2007-01-01  2007-04-01        6.0        42.0  WA00042        Plant         15.0       0.115238           West            WA      Seattle    44.0  TOYGM0000044           0.0      3.0          0.75                0.5         0.927639     active          48.0             45.0             41.0       0.911111          Toy        Game  2101361.0  Puzzle         1000 Piece           21.057938           21.057938            12.634766             1.0   42.017567   65.947342  23.929775              0.0             2.531940         13.867429          8.763066      -115.530266        41.05957     -119.721215       47.27295     -122.33083      47.60639
 3  2007-02-15  2007-01-01  2007-02-01        5.0        42.0  WA00042        Plant         15.0       0.106956           West            WA      Seattle    44.0  TOYGM0000044           0.0      3.0          0.75                0.5         0.932295     active          48.0             45.0             45.0       1.000000          Toy        Game  2074461.0  Puzzle          100 Piece           21.057938           21.057938            12.634766             1.0   -1.886976   21.057938  22.944913              0.0             2.309179         19.934856          8.000966      -115.530266        41.05957     -119.721215       47.27295     -122.33083      47.60639
 4  2007-05-10  2007-01-01  2007-05-01        5.0        42.0  WA00042        Plant         15.0       0.149032           West            WA      Seattle    44.0  TOYGM0000044           0.0      3.0          0.75                0.5         0.925320     active          48.0             45.0             30.0       0.666667          Toy        Game  2106558.0  Puzzle         2500 Piece           21.057938           21.057938            12.634766             1.0  135.876871  163.830994  27.954123              0.0             3.446237         18.952153         11.873118      -115.530266        41.05957     -119.721215       47.27295     -122.33083      47.60639
 5  2007-06-25  2007-01-01  2007-06-01        2.0        42.0  WA00042        Plant         15.0       0.106956           West            WA      Seattle    44.0  TOYGM0000044           0.0      3.0          0.75                0.5         0.923007     active          48.0             45.0             45.0       1.000000          Toy        Game  2124081.0  Puzzle         1500 Piece           21.057938           21.057938            12.634766             1.0   -1.886976   21.057938  22.944913              0.0             2.309179         14.319404          8.000966      -115.530266        41.05957     -119.721215       47.27295     -122.33083      47.60639
 6  2007-05-03  2007-01-01  2007-05-01        5.0        42.0  WA00042        Plant         15.0       0.106956           West            WA      Seattle    44.0  TOYGM0000044           0.0      3.0          0.75                0.5         0.925320     active          48.0             45.0             45.0       1.000000          Toy        Game  2103751.0  Puzzle          750 Piece           21.057938           21.057938            12.634766             1.0  163.768862  186.713776  22.944913              0.0             2.309179         16.846358          8.000966      -115.530266        41.05957     -119.721215       47.27295     -122.33083      47.60639
 7  2007-01-23  2007-01-01  2007-01-01        3.0        42.0  WA00042        Plant         15.0       0.131111           West            WA      Seattle    44.0  TOYGM0000044           0.0      3.0          0.75                0.5         0.934631     active          48.0             45.0             35.0       0.777778          Toy        Game  2066930.0  Puzzle         1000 Piece           21.057938           21.057938            12.634766             1.0    6.068842   31.887737  25.818895              0.0             2.960317         16.244702         10.223810      -115.530266        41.05957     -119.721215       47.27295     -122.33083      47.60639
 8  2007-06-25  2007-01-01  2007-06-01        2.0        42.0  WA00042        Plant         15.0       0.106956           West            WA      Seattle    44.0  TOYGM0000044           0.0      3.0          0.75                0.5         0.923007     active          48.0             45.0             45.0       1.000000          Toy        Game  2124101.0  Puzzle         1500 Piece           21.057938           21.057938            12.634766             1.0   -1.886976   21.057938  22.944913              0.0             2.309179         14.319404          8.000966      -115.530266        41.05957     -119.721215       47.27295     -122.33083      47.60639
 9  2007-05-10  2007-01-01  2007-05-01        5.0        42.0  WA00042        Plant         15.0       0.149032           West            WA      Seattle    44.0  TOYGM0000044           0.0      3.0          0.75                0.5         0.925320     active          48.0             45.0             30.0       0.666667          Toy        Game  2106564.0  Puzzle         2500 Piece           21.057938           21.057938            12.634766             1.0  135.876871  163.830994  27.954123              0.0             3.446237         18.952153         11.873118      -115.530266        41.05957     -119.721215       47.27295     -122.33083      47.60639

+ Elapsed: 0.00235s, user: 0.00229s, sys: 3.5e-05s, mem: 1.01mb

## Distributed CAS engine based Stratified sampling directly from parquet file

In [44]:
s.stratified(display={"names":"STRAFreq"},
              output={"casOut":{"caslib":"casuser","name":"out", "replace":True}, "copyVars":"ALL"},
              samppct=10, samppct2=20, partind='true', seed=10,
              table={"caslib":"dnfs", "name":"megacorp5_4m.parquet", "groupBy":{"FacilityRegion"},"where":"year(DateByYear) in (2009)"},
              outputTables={"names":{"STRAFreq"},"replace":True})

NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.006157 seconds
NOTE:       cpu time                0.006117 seconds (99.35%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  678.44K (0.00%)
NOTE: Executing action 'sampling.stratified'.
NOTE: Stratified sampling is in effect.
NOTE: Using SEED=10 for sampling.
NOTE: The CAS table 'STRAFreq' in caslib 'mydata' has 4 rows and 5 columns.
NOTE: Action 'sampling.stratified' used (Total process time):
NOTE:       real time               2.578221 seconds
NOTE:       cpu time                32.080710 seconds (1244.30%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  351.93M (0.27%)

[STRAFreq]

 Frequencies

    ByGrpID FacilityRegion   NObs  NSamp1  NSamp2
 0        0           East  11021    1102    2204
 1        1          North  19414    1941    3883
 2        2          South  65148    6515   13029
 3        3           West  42151    4215    8430

+ Elapsed: 2.58s, user: 31.8s, sys: 0.264s, mem: 352mb

In [45]:
stratOut = s.CASTable('out', caslib='casuser')
stratOut.columns

Index(['Date', 'DateByYear', 'DateByMonth', 'DayOfWeek', 'FacilityID',
       'Facility', 'FacilityType', 'FacilityAge', 'EmployeesUsed',
       'FacilityRegion', 'FacilityState', 'FacilityCity', 'UnitID', 'Unit',
       'UnitDowntime', 'UnitAge', 'UnitLifespan', 'UnitLifespanLimit',
       'UnitReliability', 'UnitStatus', 'UnitCapacity', 'UnitYieldTarget',
       'UnitYieldActual', 'UnitYieldRate', 'ProductBrand', 'ProductLine',
       'ProductID', 'Product', 'ProductDescription', 'ProductPriceTarget',
       'ProductPriceActual', 'ProductMaterialCost', 'ProductQuality', 'Profit',
       'Revenue', 'Expenses', 'ExpensesCapital', 'ExpensesOperational',
       'ExpensesMaterial', 'ExpensesStaffing', 'RegionLongitude',
       'RegionLatitude', 'StateLongitude', 'StateLatitude', 'CityLongitude',
       'CityLatitude', '_PartInd_'],
      dtype='object')

In [46]:
stratOut(stratOut['_PartInd_'].astype(int)).hist(bins=3)

AttributeError: astype

## Use panda syntax directly on parquet data through CAS

In [47]:
megacorpParquet = s.CASTable('megacorp5_4m.parquet', caslib='dnfs')

In [48]:
megacorpParquet.describe()

NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.006034 seconds
NOTE:       cpu time                0.006018 seconds (99.73%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  670.09K (0.00%)
NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.005586 seconds
NOTE:       cpu time                0.005570 seconds (99.71%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  678.28K (0.00%)
NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.006148 seconds
NOTE:       cpu time                0.006117 seconds (99.50%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  696.69K (0.00%)
NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.005894 seconds
NOTE:       cpu time                0.005882 seconds (99.80%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  700.50K (0.00%)
NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.009825 seconds
NOTE:       cpu time                0.009800 seconds (99.75%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  688.34K (0.00%)

               Date    DateByYear   DateByMonth     DayOfWeek    FacilityID   FacilityAge  EmployeesUsed        UnitID  UnitDowntime       UnitAge  UnitLifespan  UnitLifespanLimit  UnitReliability  UnitCapacity  UnitYieldTarget  UnitYieldActual  UnitYieldRate     ProductID  ProductPriceTarget  ProductPriceActual  ProductMaterialCost  ProductQuality        Profit       Revenue      Expenses  ExpensesCapital  ExpensesOperational  ExpensesMaterial  ExpensesStaffing  RegionLongitude  RegionLatitude  StateLongitude  StateLatitude  CityLongitude  CityLatitude
count  4.522868e+06  4.522868e+06  4.522868e+06  4.522868e+06  4.522868e+06  4.522868e+06   4.522868e+06  4.522868e+06  4.522868e+06  4.522868e+06  4.522868e+06       4.522868e+06     4.522868e+06  4.522868e+06     4.522868e+06     4.522868e+06   4.405565e+06  4.405565e+06        4.405565e+06        4.405565e+06         4.522868e+06    4.405565e+06  4.522868e+06  4.522868e+06  4.522868e+06     4.522868e+06         4.522868e+06      4.522868e+06      4.522868e+06     4.522868e+06    4.522868e+06    4.522868e+06   4.522868e+06   4.488736e+06  4.488736e+06
mean   1.435769e+04  1.417742e+04  1.434292e+04  3.970025e+00  2.357616e+01  1.190023e+01   1.501356e-01  2.510356e+01  2.593553e-02  3.021364e+00  7.481845e-01       2.853717e-01     8.791056e-01  4.378721e+01     3.506683e+01     3.134557e+01   8.936439e-01  2.348911e+06        1.550005e+01        1.542459e+01         6.131564e+00    1.048785e+00  1.340414e+01  3.961597e+01  2.621183e+01     4.301874e+00         4.090751e+00      8.403357e+00      1.168764e+01    -9.509106e+01    3.760325e+01   -9.582274e+01   3.532191e+01  -9.529980e+01  3.461898e+01
std    2.628581e+03  2.626478e+03  2.628570e+03  1.516514e+00  1.634613e+01  7.480959e+00   2.902115e-01  1.634659e+01  1.589430e-01  2.239992e+00  1.866702e-01       7.492875e-02     1.037961e-01  6.361996e+00     1.216604e+01     1.210423e+01   1.452660e-01  1.333189e+06        2.977428e+01        2.965568e+01         1.589265e+01    2.190175e-01  1.004437e+02  7.294370e+01  7.648122e+01     6.079166e+01         7.571435e+00      2.857872e+01      2.484473e+01     1.052113e+01    3.852695e+00    1.237893e+01   4.323310e+00   1.234068e+01  5.173266e+00
min    7.305000e+03  7.305000e+03  7.305000e+03  1.000000e+00  2.000000e+00  0.000000e+00   4.846153e-02  3.000000e+00  0.000000e+00  0.000000e+00  2.500000e-01       9.999996e-02     3.978496e-01  4.000000e+00     0.000000e+00     0.000000e+00   9.999996e-02  1.010000e+02        5.000000e-01        0.000000e+00         0.000000e+00    1.000000e+00 -2.018000e+04  0.000000e+00  5.333380e+00     0.000000e+00         9.523810e-01      0.000000e+00      3.510417e+00    -1.155303e+02    3.425528e+01   -1.199918e+02   3.098397e+01  -1.224183e+02  2.780028e+01
25%    1.245300e+04  1.241900e+04  1.245000e+04  3.000000e+00  8.000000e+00  6.000000e+00   6.545454e-02  1.000000e+01  0.000000e+00  1.000000e+00  5.832520e-01       3.000000e-01     8.236408e-01  4.000000e+01     2.600000e+01     2.200000e+01   8.333330e-01  1.203562e+06        2.701717e+00        2.701717e+00         2.701716e-01    1.000000e+00 -5.522618e+00  4.097006e+00  7.760444e+00     0.000000e+00         1.784091e+00      3.609890e-01      4.360465e+00    -9.231789e+01    3.425528e+01   -9.968263e+01   3.116902e+01  -9.739611e+01  3.069417e+01
50%    1.456400e+04  1.424500e+04  1.454900e+04  4.000000e+00  2.400000e+01  1.100000e+01   8.896548e-02  2.500000e+01  0.000000e+00  3.000000e+00  7.500000e-01       3.000000e-01     9.168630e-01  4.400000e+01     4.000000e+01     3.400000e+01   9.499998e-01  2.355592e+06        4.086273e+00        4.086273e+00         4.331174e-01    1.000000e+00  5.136319e-01  1.120787e+01  1.193388e+01     0.000000e+00         2.292553e+00      6.661331e-01      6.423077e+00    -9.064271e+01    3.425528e+01   -9.245323e+01   3.416825e+01  -9.228944e+01  3.350917e+01
75%    1.641900e+04  1.607100e+04  1.640600e+04  5.000000e+00  3.600000e+01  1.700000e+01   1.211111e-01  3.800000e+01  0.000000e+00  5.000000e+00  9.166260e-01       3.000000e-01     9.591203e-01  4.800000e+01     4.400000e+01     4.100000e+01   1.000000e+00  3.502564e+06        1.445419e+01        1.401617e+01         6.282391e+00    1.000000e+00  2.110444e+01  4.251089e+01  2.022560e+01     0.000000e+00         3.180233e+00      8.721437e+00      9.028528e+00    -9.064271e+01    4.105957e+01   -8.673328e+01   3.973930e+01  -8.765000e+01  3.916194e+01
max    1.899200e+04  1.862800e+04  1.896200e+04  7.000000e+00  6.400000e+01  3.100000e+01   2.019999e+00  6.700000e+01  1.000000e+00  9.000000e+00  1.000000e+00       5.000000e-01     9.891748e-01  5.200000e+01     5.200000e+01     5.200000e+01   1.000000e+00  4.651011e+06        2.628030e+02        2.628030e+02         1.576819e+02    4.000000e+00  1.473859e+03  1.495510e+03  2.018000e+04     2.000000e+04         9.500000e+01      3.311320e+03      1.955000e+02    -7.309218e+01    4.357489e+01   -7.155220e+01   4.727295e+01  -7.145528e+01  4.760639e+01

In [49]:
m=megacorpParquet.sample(1000)

NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.008255 seconds
NOTE:       cpu time                0.008235 seconds (99.76%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  696.69K (0.00%)
NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.005607 seconds
NOTE:       cpu time                0.005583 seconds (99.57%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  696.69K (0.00%)

In [50]:
m.shape

(1000, 46)

## Distributed CAS engine based data preprocessing directly from parquet file

In [51]:
s.stratified(display={"names":"STRAFreq"},
              output={"casOut":{"caslib":"casuser","name":"out", "replace":True}, "copyVars":"ALL"},
              samppct=10, samppct2=20, partind=True, seed=10,
              table={"caslib":"dnfs", "name":"megacorp5_4m.parquet", "groupBy":{"FacilityRegion"}},
              outputTables={"names":{"STRAFreq"},"replace":True})

NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.006648 seconds
NOTE:       cpu time                0.006629 seconds (99.71%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  696.69K (0.00%)
NOTE: Executing action 'sampling.stratified'.
NOTE: Stratified sampling is in effect.
NOTE: Using SEED=10 for sampling.
NOTE: The CAS table 'STRAFreq' in caslib 'mydata' has 4 rows and 5 columns.
NOTE: Action 'sampling.stratified' used (Total process time):
NOTE:       real time               3.569273 seconds
NOTE:       cpu time                47.465551 seconds (1329.84%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  383.20M (0.30%)

[STRAFreq]

 Frequencies

    ByGrpID FacilityRegion     NObs  NSamp1  NSamp2
 0        0           East   168920   16892   33784
 1        1          North   935612   93561  187123
 2        2          South  2553782  255378  510757
 3        3           West   864554   86455  172911

+ Elapsed: 3.57s, user: 45.6s, sys: 1.86s, mem: 383mb

In [27]:
s.about()

NOTE: Grid node action status report: 1 nodes, 28 total actions executed.

[About]

 {'CAS': 'Cloud Analytic Services',
  'Version': '3.05',
  'VersionLong': 'V.03.05M0P11112019',
  'Copyright': 'Copyright  2014-2018 SAS Institute Inc. All Rights Reserved.',
  'ServerTime': '2021-06-30T13:34:34Z',
  'System': {'Hostname': 'frasepviya35smp.cloud.com',
   'OS Name': 'Linux',
   'OS Family': 'LIN X64',
   'OS Release': '3.10.0-1160.31.1.el7.x86_64',
   'OS Version': '#1 SMP Thu Jun 10 13:32:12 UTC 2021',
   'Model Number': 'x86_64',
   'Linux Distribution': 'CentOS Linux release 7.9.2009 (Core)'},
  'license': {'site': 'viya35_25May2021',
   'siteNum': 70180938,
   'expires': '25May2022:00:00:00',
   'gracePeriod': 45,
   'warningPeriod': 45}}

[server]

 Server Status

    nodes  actions
 0      1       28

[nodestatus]

 Node Status

                         name        role    uptime  running  stalled
 0  frasepviya35smp.cloud.com  controller  1291.917        0        0

+ Elapsed: 0.00117s, user: 0.000145s, sys: 0.00101s, mem: 0.305mb

In [52]:
s.terminate()