In [2]:
import pandas as pd
import os
import swat
import time
from pprint import pprint

## Connection to CAS

In [3]:
cashost='frasepviya35smp'
casport=5570
s = swat.CAS(cashost, casport)
s.sessionProp.setSessOpt(timeout=1800, caslib='casuser', messageLevel="ALL")

NOTE: 'CASUSER(viyademo01)' is now the active caslib.

+ Elapsed: 0.000259s, user: 0.00025s, mem: 0.256mb

In [4]:
s.loadActionset('fedSql')

NOTE: Added action set 'fedSql'.

[actionset]

 'fedSql'

+ Elapsed: 0.00177s, user: 0.00176s, mem: 0.239mb

## Create personal CAS libraries to execute the tests

In [5]:
s.table.addcaslib(name="dnfs", dataSource={"srctype":"dnfs"}, path="/opt/demo/dnfs")
s.table.addcaslib(name="mydata", dataSource={"srctype":"path"}, path="/opt/demo/sasdata")

NOTE: 'dnfs' is now the active caslib.
NOTE: Cloud Analytic Services added the caslib 'dnfs'.
NOTE: 'mydata' is now the active caslib.
NOTE: Cloud Analytic Services added the caslib 'mydata'.

[CASLibInfo]

      Name  Type Description                Path Definition  Subdirs  Local  Active  Personal  Hidden  Transient
 0  mydata  PATH              /opt/demo/sasdata/                 0.0    1.0     1.0       0.0     0.0        0.0

+ Elapsed: 0.000586s, user: 0.000365s, sys: 0.000185s, mem: 0.728mb

In [6]:
s.table.fileinfo(caslib="dnfs", allfiles='true', includedirectories='true')

[FileInfo]

    Permission Owner Group                                    Name        Size Encryption                       Time       ModTime
 0  -rwxrwxrwx   sas   sas                       CHURN_ABT.sashdat     3519496       NONE  2020-12-03T18:17:56+02:00  1.922631e+09
 1  -rwxrwxrwx   sas   sas                       M5_TX_DAY.sashdat   487127128       NONE  2020-12-18T16:06:06+02:00  1.923920e+09
 2  -rwxrwxrwx   sas   sas  CHURN_DONNEES_CLIENT_BRUTES_FR.sashdat     7522224       NONE  2020-12-18T16:15:57+02:00  1.923920e+09
 3  -rwxrwxrwx   sas   sas             StockEtablissement_utf8.csv  5422644931             2021-03-01T05:09:28+02:00  1.930187e+09
 4  -rwxrwxrwx   sas   sas       StockEtablissement_utf8_wrong.csv   266998725             2021-03-03T16:02:50+02:00  1.930399e+09
 5  -rwxrwxrwx   sas   sas          StockEtablissement_utf8_ok.csv  5422415798             2021-03-03T17:14:36+02:00  1.930404e+09

+ Elapsed: 0.00112s, user: 0.0011s, mem: 0.692mb

In [7]:
s.table.fileinfo(caslib="mydata", allfiles='true', includedirectories='true')

[FileInfo]

    Permission Owner Group                                    Name        Size Encryption                       Time       ModTime
 0  -rwxrwxrwx   sas   sas                   megacorp5_4m.sas7bdat  1307738112             2020-03-23T11:05:02+02:00  1.900574e+09
 1  -rwxrwxrwx   sas   sas   assu_prestations_sante_light.sas7bdat  3323985920             2020-11-05T18:41:42+02:00  1.920214e+09
 2  -rwxrwxrwx   sas   sas                     comms_demo.sas7bdat  2391442432             2013-02-27T19:06:04+02:00  1.677604e+09
 3  -rwxrwxrwx   sas   sas  CHURN_DONNEES_CLIENT_BRUTES_FR.sashdat     7522224       NONE  2019-07-19T13:51:49+02:00  1.879156e+09
 4  -rwxrwxrwx   sas   sas                        CHURN_FR.sashdat      580976       NONE  2019-07-19T13:51:39+02:00  1.879156e+09
 5  -rwxrwxrwx   sas   sas                  CHURN_WEBFLAGS.sashdat      870080       NONE  2019-07-19T13:51:40+02:00  1.879156e+09
 6  -rwxrwxrwx   sas   sas                GEO_FR_VILLE_STD.sashdat    13551984       NONE  2019-07-19T13:51:47+02:00  1.879156e+09
 7  -rwxrwxrwx   sas   sas                    megacorp5_4m.sashdat  1881984528       NONE  2020-12-14T19:00:19+02:00  1.923584e+09
 8  -rwxrwxrwx   sas   sas                       CHURN_ABT.sashdat     3519496       NONE  2020-12-18T16:18:01+02:00  1.923920e+09

+ Elapsed: 0.00167s, user: 0.00165s, mem: 0.689mb

In [8]:
s.table.loadtable(caslib="mydata", path="megacorp5_4m.sas7bdat", casout={"name":"megacorp5_4m", "caslib":"mydata"})

NOTE: Cloud Analytic Services made the file megacorp5_4m.sas7bdat available as table MEGACORP5_4M in caslib mydata.

[caslib]

 'mydata'

[tableName]

 'MEGACORP5_4M'

[casTable]

 CASTable('MEGACORP5_4M', caslib='mydata')

+ Elapsed: 5.96s, user: 4.73s, sys: 1.22s, mem: 19.6mb

In [9]:
s.table.tabledetails(caslib="mydata", name="megacorp5_4m")

[TableDetails]

   Node  Blocks  Active     Rows  IndexSize    DataSize  VardataSize  CompressedSize  CompressionRatio  Mapped  MappedMemory  Unmapped  UnmappedMemory  Allocated  AllocatedMemory  DeletedRows
 0  ALL    1795    1795  4522868          0  1881513088            0               0                 0    1792    1878797312         0               0          3          2923648            0

+ Elapsed: 0.000967s, user: 0.000934s, mem: 0.677mb

In [10]:
s.table.save(caslib="dnfs", name="megacorp5_4m.parquet", table={"caslib":"mydata","name":"megacorp5_4m"}, replace="true")

NOTE: Cloud Analytic Services saved the file megacorp5_4m.parquet in caslib dnfs.

[caslib]

 'dnfs'

[name]

 'megacorp5_4m.parquet'

+ Elapsed: 10.6s, user: 30.7s, sys: 1.3s, mem: 1.82e+03mb

### Get the size of generated partitioned parquet file

In [11]:
stream = os.popen("du -sh /opt/demo/dnfs/megacorp5_4m.parquet")
output = stream.read()
print(output)

110M	/opt/demo/dnfs/megacorp5_4m.parquet

### Get the size of original sas7bdat file

In [12]:
stream = os.popen("du -sh /opt/demo/sasdata/megacorp5_4m.sas7bdat")
output = stream.read()
print(output)

1.3G	/opt/demo/sasdata/megacorp5_4m.sas7bdat

In [13]:
s.table.columninfo(table={"caslib":"dnfs", "name":"megacorp5_4m.parquet"})

[ColumnInfo]

                  Column Label  ID    Type  RawLength  FormattedLength Format  NFL  NFD
 0                  Date         1  double          8               12           0    0
 1            DateByYear         2  double          8               12           0    0
 2           DateByMonth         3  double          8               12           0    0
 3             DayOfWeek         4  double          8               12           0    0
 4            FacilityID         5  double          8               12           0    0
 5              Facility         6    char          7                7           0    0
 6          FacilityType         7    char          5                5           0    0
 7           FacilityAge         8  double          8               12           0    0
 8         EmployeesUsed         9  double          8               12           0    0
 9        FacilityRegion        10    char          5                5           0    0
 10        FacilityState        11    char          2                2           0    0
 11         FacilityCity        12    char         14               14           0    0
 12               UnitID        13  double          8               12           0    0
 13                 Unit        14    char         12               12           0    0
 14         UnitDowntime        15  double          8               12           0    0
 15              UnitAge        16  double          8               12           0    0
 16         UnitLifespan        17  double          8               12           0    0
 17    UnitLifespanLimit        18  double          8               12           0    0
 18      UnitReliability        19  double          8               12           0    0
 19           UnitStatus        20    char          7                7           0    0
 20         UnitCapacity        21  double          8               12           0    0
 21      UnitYieldTarget        22  double          8               12           0    0
 22      UnitYieldActual        23  double          8               12           0    0
 23        UnitYieldRate        24  double          8               12           0    0
 24         ProductBrand        25    char          7                7           0    0
 25          ProductLine        26    char         14               14           0    0
 26            ProductID        27  double          8               12           0    0
 27              Product        28    char         15               15           0    0
 28   ProductDescription        29    char         20               20           0    0
 29   ProductPriceTarget        30  double          8               12           0    0
 30   ProductPriceActual        31  double          8               12           0    0
 31  ProductMaterialCost        32  double          8               12           0    0
 32       ProductQuality        33  double          8               12           0    0
 33               Profit        34  double          8               12           0    0
 34              Revenue        35  double          8               12           0    0
 35             Expenses        36  double          8               12           0    0
 36      ExpensesCapital        37  double          8               12           0    0
 37  ExpensesOperational        38  double          8               12           0    0
 38     ExpensesMaterial        39  double          8               12           0    0
 39     ExpensesStaffing        40  double          8               12           0    0
 40      RegionLongitude        41  double          8               12           0    0
 41       RegionLatitude        42  double          8               12           0    0
 42       StateLongitude        43  double          8               12           0    0
 43        StateLatitude        44  double          8               12           0    0
 44        CityLongitude        45  double          8               12           0    0
 45         CityLatitude        46  double          8               12           0    0

+ Elapsed: 0.00307s, user: 0.00202s, sys: 0.00102s, mem: 0.819mb

In [14]:
s.table.columninfo(table={"caslib":"mydata", "name":"megacorp5_4m.sas7bdat"})

[ColumnInfo]

                  Column                   Label  ID    Type  RawLength  FormattedLength   Format  NFL  NFD
 0                  Date                    Date   1  double          8                8   MMDDYY    0    0
 1            DateByYear            Date by Year   2  double          8                4     YEAR    0    0
 2           DateByMonth           Date by Month   3  double          8                5    MONYY    0    0
 3             DayOfWeek             Day of Week   4  double          8                1        F    1    0
 4            FacilityID             Facility ID   5  double          8                6        F    6    0
 5              Facility                Facility   6    char          7                7    $CHAR    7    0
 6          FacilityType           Facility Type   7    char          5                5    $CHAR    5    0
 7           FacilityAge            Facility Age   8  double          8                2        F    2    0
 8         EmployeesUsed          Employees Used   9  double          8                4        F    4    2
 9        FacilityRegion         Facility Region  10    char          5                5    $CHAR    5    0
 10        FacilityState          Facility State  11    char          2                2    $CHAR    2    0
 11         FacilityCity           Facility City  12    char         14               14    $CHAR   14    0
 12               UnitID                 Unit ID  13  double          8                6        F    6    0
 13                 Unit                    Unit  14    char         12               12    $CHAR   12    0
 14         UnitDowntime           Unit Downtime  15  double          8                3        F    3    0
 15              UnitAge                Unit Age  16  double          8                2        F    2    0
 16         UnitLifespan           Unit Lifespan  17  double          8                6  PERCENT    6    2
 17    UnitLifespanLimit     Unit Lifespan Limit  18  double          8                6  PERCENT    6    2
 18      UnitReliability        Unit Reliability  19  double          8                6  PERCENT    6    2
 19           UnitStatus             Unit Status  20    char          7                7    $CHAR    7    0
 20         UnitCapacity           Unit Capacity  21  double          8                4        F    4    0
 21      UnitYieldTarget     Unit Yield (target)  22  double          8                4        F    4    0
 22      UnitYieldActual     Unit Yield (actual)  23  double          8                4        F    4    0
 23        UnitYieldRate       Unit Yield (rate)  24  double          8                6  PERCENT    6    2
 24         ProductBrand           Product Brand  25    char          7                7    $CHAR    7    0
 25          ProductLine            Product Line  26    char         14               14    $CHAR   14    0
 26            ProductID              Product ID  27  double          8                6        F    6    0
 27              Product                 Product  28    char         15               15    $CHAR   15    0
 28   ProductDescription     Product Description  29    char         20               20    $CHAR   20    0
 29   ProductPriceTarget  Product Price (target)  30  double          8               15   DOLLAR   15    2
 30   ProductPriceActual  Product Price (actual)  31  double          8               15   DOLLAR   15    2
 31  ProductMaterialCost   Product Material Cost  32  double          8               15   DOLLAR   15    2
 32       ProductQuality         Product Quality  33  double          8                1        F    1    0
 33               Profit                  Profit  34  double          8               15   DOLLAR   15    2
 34              Revenue                 Revenue  35  double          8               15   DOLLAR   15    2
 35             Expenses                Expenses  36  double          8               15   DOLLAR   15    2
 36      ExpensesCapital      Expenses (capital)  37  double          8               15   DOLLAR   15    2
 37  ExpensesOperational  Expenses (operational)  38  double          8               15   DOLLAR   15    2
 38     ExpensesMaterial     Expenses (material)  39  double          8               15   DOLLAR   15    2
 39     ExpensesStaffing     Expenses (staffing)  40  double          8               15   DOLLAR   15    2
 40      RegionLongitude        Region Longitude  41  double          8               12             0    0
 41       RegionLatitude         Region Latitude  42  double          8               12             0    0
 42       StateLongitude         State Longitude  43  double          8               12             0    0
 43        StateLatitude          State Latitude  44  double          8               12             0    0
 44        CityLongitude          City Longitude  45  double          8               12             0    0
 45         CityLatitude           City Latitude  46  double          8               12             0    0

+ Elapsed: 0.00202s, user: 0.00195s, sys: 4.7e-05s, mem: 0.836mb

### Compute aggregates direclty on parquet files using CAS processing native support of parquet data without any data conversion to default CAS in-memory format

In [15]:
s.simple.summary(
        inputs={"Revenue","Expenses"},
        subSet={"SUM"},
        table={"caslib":"dnfs", "name":"megacorp5_4m.parquet", "groupBy":{"FacilityRegion","product","ProductLine"}}, 
        casout={"caslib":"casuser","name":"megacorp_summary","replace":"True","replication":"0"})

castbl = s.CASTable(caslib="casuser", name="megacorp_summary")
castbl.head()

Selected Rows from Table MEGACORP_SUMMARY

  FacilityRegion FacilityRegion_f          Product        Product_f    ProductLine  ProductLine_f  _Column_         _Sum_
0           East             East                .                .  Action Figure  Action Figure  Expenses  1.425666e+06
1           East             East                .                .  Action Figure  Action Figure   Revenue  0.000000e+00
2           East             East                .                .           Game           Game  Expenses  5.653733e+04
3           East             East                .                .           Game           Game   Revenue  0.000000e+00
4           East             East                .                .    Promotional    Promotional  Expenses  1.037849e+06

In [16]:
#s.table.fetch( table={"caslib":"dnfs", "name":"megacorp5_4m.parquet", "where":"FacilityRegion in ('East','West')"})

### Load in CAS by filtering parquet file rows and columns

In [17]:
s.table.loadtable(
    caslib="dnfs", 
    path="megacorp5_4m.parquet",
    where="year(DateByYear) in (2007,2008,2009)", 
    casout={"caslib":"dnfs", "name":"test_megacorp_parquet","replace":"true","replication":"0"}
)

NOTE: Cloud Analytic Services made the file megacorp5_4m.parquet available as table TEST_MEGACORP_PARQUET in caslib dnfs.

[caslib]

 'dnfs'

[tableName]

 'TEST_MEGACORP_PARQUET'

[casTable]

 CASTable('TEST_MEGACORP_PARQUET', caslib='dnfs')

+ Elapsed: 1.31s, user: 17s, sys: 0.378s, mem: 344mb

### Apply date format where necessary (parquet save loses the format in Viya 3.5)

In [18]:
s.table.alterTable(caslib="dnfs",
    columns=[
        {"format":"DATE9.","name":"Date"},
        {"format":"DATE9.","name":"DateByYear"},
        {"format":"DATE9.","name":"DateByMonth"}],
    name="test_megacorp_parquet")

+ Elapsed: 0.000321s, user: 0.000278s, sys: 1.5e-05s, mem: 0.303mb

In [80]:
s.fedsql.execdirect(query="
    select FacilityRegion, year(datebyyear),count(*) 
    from dnfs.test_megacorp_parquet
    group by FacilityRegion,datebyyear
")

[Result Set]

    FacilityRegion  YEAR  COUNT
 0           North  2009  19414
 1           North  2008  15200
 2            East  2008  16081
 3            West  2009  42151
 4            West  2007  58400
 5            East  2009  11021
 6            East  2007  13650
 7           South  2007  93649
 8            West  2008  58957
 9           South  2009  65148
 10          North  2007  16164
 11          South  2008  92750

+ Elapsed: 0.216s, user: 0.965s, sys: 0.0832s, mem: 87.3mb

In [61]:
s.table.fetch(table={"caslib":"dnfs", "name":"test_megacorp_parquet"},to=10)

[Fetch]

 Selected Rows from Table TEST_MEGACORP_PARQUET

 Empty SASDataFrame
 Columns: [Date, DateByYear, DateByMonth, DayOfWeek, FacilityID, Facility, FacilityType, FacilityAge, EmployeesUsed, FacilityRegion, FacilityState, FacilityCity, UnitID, Unit, UnitDowntime, UnitAge, UnitLifespan, UnitLifespanLimit, UnitReliability, UnitStatus, UnitCapacity, UnitYieldTarget, UnitYieldActual, UnitYieldRate, ProductBrand, ProductLine, ProductID, Product, ProductDescription, ProductPriceTarget, ProductPriceActual, ProductMaterialCost, ProductQuality, Profit, Revenue, Expenses, ExpensesCapital, ExpensesOperational, ExpensesMaterial, ExpensesStaffing, RegionLongitude, RegionLatitude, StateLongitude, StateLatitude, CityLongitude, CityLatitude]
 Index: []

+ Elapsed: 0.0027s, user: 0.00264s, mem: 0.993mb

In [27]:
s.about()

NOTE: Grid node action status report: 1 nodes, 28 total actions executed.

[About]

 {'CAS': 'Cloud Analytic Services',
  'Version': '3.05',
  'VersionLong': 'V.03.05M0P11112019',
  'Copyright': 'Copyright  2014-2018 SAS Institute Inc. All Rights Reserved.',
  'ServerTime': '2021-06-30T13:34:34Z',
  'System': {'Hostname': 'frasepviya35smp.cloud.com',
   'OS Name': 'Linux',
   'OS Family': 'LIN X64',
   'OS Release': '3.10.0-1160.31.1.el7.x86_64',
   'OS Version': '#1 SMP Thu Jun 10 13:32:12 UTC 2021',
   'Model Number': 'x86_64',
   'Linux Distribution': 'CentOS Linux release 7.9.2009 (Core)'},
  'license': {'site': 'viya35_25May2021',
   'siteNum': 70180938,
   'expires': '25May2022:00:00:00',
   'gracePeriod': 45,
   'warningPeriod': 45}}

[server]

 Server Status

    nodes  actions
 0      1       28

[nodestatus]

 Node Status

                         name        role    uptime  running  stalled
 0  frasepviya35smp.cloud.com  controller  1291.917        0        0

+ Elapsed: 0.00117s, user: 0.000145s, sys: 0.00101s, mem: 0.305mb

In [81]:
s.session.endsession()

+ Elapsed: 0.00029s, user: 0.000254s, sys: 9e-06s, mem: 0.204mb