In [5]:
import pandas as pd
import os
import swat
import time
from pprint import pprint

## Connection to CAS

In [6]:
#os.environ['CAS_CLIENT_SSL_CA_LIST'] = '/opt/sas/viya/config/etc/SASSecurityCertificateFramework/cacerts/trustedcerts.pem'
os.environ['CAS_CLIENT_SSL_CA_LIST'] = '/mnt/c/Users/frasep/OneDrive - SAS/Mes Documents/Dossiers/Demoing/My_Azure_Environments/terraform_monoserver/cacerts/'

cashost='frasepviya35smp.cloud.com'
casport=5570
s = swat.CAS(cashost, casport)
s.sessionProp.setSessOpt(timeout=1800, caslib='casuser', messageLevel="ALL", metrics='true')

ERROR: The TCP/IP negClientSSL support routine failed with status 807ff014.
ERROR: SSL Error: Invalid CA trust list
ERROR: Failed to connect to host 'frasepviya35smp.cloud.com', port 5570.

SWATError: Could not connect to 'frasepviya35smp.cloud.com' on port 5570.

In [3]:
s.loadActionset('fedSql')
s.loadActionset('sampling')
s.loadActionset('datapreprocess')

NOTE: Executing action 'builtins.loadActionSet'.
NOTE: Added action set 'fedSql'.
NOTE: Action 'builtins.loadActionSet' used (Total process time):
NOTE:       real time               0.013741 seconds
NOTE:       cpu time                0.003237 seconds (23.56%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  246.06K (0.00%)
NOTE: Executing action 'builtins.loadActionSet'.
NOTE: Added action set 'sampling'.
NOTE: Action 'builtins.loadActionSet' used (Total process time):
NOTE:       real time               0.021415 seconds
NOTE:       cpu time                0.004331 seconds (20.22%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  231.94K (0.00%)
NOTE: Executing action 'builtins.loadActionSet'.
NOTE: Added action set 'datapreprocess'.
NOTE: Action 'builtins.loadActionSet' used (Total process time):
NOTE:       real time               0.000558 seconds
NOTE:       cpu time                0.000522 seconds (93.55%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  209.81K (0.00%)

[actionset]

 'datapreprocess'

+ Elapsed: 0.000558s, sys: 0.000522s, mem: 0.205mb

## Create personal CAS libraries to execute the tests

In [4]:
s.table.addcaslib(name="dnfs", dataSource={"srctype":"dnfs"}, path="/opt/demo/dnfs")
s.table.addcaslib(name="mydata", dataSource={"srctype":"path"}, path="/opt/demo/sasdata")

NOTE: Executing action 'table.addCaslib'.
NOTE: 'dnfs' is now the active caslib.
NOTE: Cloud Analytic Services added the caslib 'dnfs'.
NOTE: Action 'table.addCaslib' used (Total process time):
NOTE:       real time               0.001758 seconds
NOTE:       cpu time                0.001497 seconds (85.15%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  748.47K (0.00%)
NOTE: Executing action 'table.addCaslib'.
NOTE: 'mydata' is now the active caslib.
NOTE: Cloud Analytic Services added the caslib 'mydata'.
NOTE: Action 'table.addCaslib' used (Total process time):
NOTE:       real time               0.000921 seconds
NOTE:       cpu time                0.000878 seconds (95.33%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  755.47K (0.00%)

[CASLibInfo]

      Name  Type Description                Path Definition  Subdirs  Local  Active  Personal  Hidden  Transient
 0  mydata  PATH              /opt/demo/sasdata/                 0.0    1.0     1.0       0.0     0.0        0.0

+ Elapsed: 0.000921s, user: 0.000878s, mem: 0.738mb

In [5]:
s.table.fileinfo(caslib="dnfs", allfiles='true', includedirectories='true')

NOTE: Executing action 'table.fileInfo'.
NOTE: Action 'table.fileInfo' used (Total process time):
NOTE:       real time               0.003946 seconds
NOTE:       cpu time                0.002887 seconds (73.16%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  707.44K (0.00%)

[FileInfo]

    Permission Owner Group                                    Name        Size Encryption                       Time       ModTime
 0  -rwxrwxrwx   sas   sas                       CHURN_ABT.sashdat     3519496       NONE  2020-12-03T18:17:56+02:00  1.922631e+09
 1  -rwxrwxrwx   sas   sas                       M5_TX_DAY.sashdat   487127128       NONE  2020-12-18T16:06:06+02:00  1.923920e+09
 2  -rwxrwxrwx   sas   sas  CHURN_DONNEES_CLIENT_BRUTES_FR.sashdat     7522224       NONE  2020-12-18T16:15:57+02:00  1.923920e+09
 3  -rwxrwxrwx   sas   sas             StockEtablissement_utf8.csv  5422644931             2021-03-01T05:09:28+02:00  1.930187e+09
 4  -rwxrwxrwx   sas   sas       StockEtablissement_utf8_wrong.csv   266998725             2021-03-03T16:02:50+02:00  1.930399e+09
 5  -rwxrwxrwx   sas   sas          StockEtablissement_utf8_ok.csv  5422415798             2021-03-03T17:14:36+02:00  1.930404e+09

+ Elapsed: 0.00395s, user: 0.00259s, sys: 0.000296s, mem: 0.691mb

In [6]:
s.table.fileinfo(caslib="mydata", allfiles='true', includedirectories='true')

NOTE: Executing action 'table.fileInfo'.
NOTE: Action 'table.fileInfo' used (Total process time):
NOTE:       real time               0.005604 seconds
NOTE:       cpu time                0.003816 seconds (68.09%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  709.41K (0.00%)

[FileInfo]

    Permission      Owner      Group                                    Name         Size Encryption                       Time       ModTime
 0  -rwxrwxrwx        sas        sas                   megacorp5_4m.sas7bdat   1307738112             2020-03-23T11:05:02+02:00  1.900574e+09
 1  -rwxrwxrwx        sas        sas   assu_prestations_sante_light.sas7bdat   3323985920             2020-11-05T18:41:42+02:00  1.920214e+09
 2  -rwxrwxrwx        sas        sas                     comms_demo.sas7bdat   2391442432             2013-02-27T19:06:04+02:00  1.677604e+09
 3  -rwxrwxrwx        sas        sas  CHURN_DONNEES_CLIENT_BRUTES_FR.sashdat      7522224       NONE  2019-07-19T13:51:49+02:00  1.879156e+09
 4  -rwxrwxrwx        sas        sas                        CHURN_FR.sashdat       580976       NONE  2019-07-19T13:51:39+02:00  1.879156e+09
 5  -rwxrwxrwx        sas        sas                  CHURN_WEBFLAGS.sashdat       870080       NONE  2019-07-19T13:51:40+02:00  1.879156e+09
 6  -rwxrwxrwx        sas        sas                GEO_FR_VILLE_STD.sashdat     13551984       NONE  2019-07-19T13:51:47+02:00  1.879156e+09
 7  -rwxrwxrwx        sas        sas                    megacorp5_4m.sashdat   1881984528       NONE  2020-12-14T19:00:19+02:00  1.923584e+09
 8  -rwxrwxrwx        sas        sas                       CHURN_ABT.sashdat      3519496       NONE  2020-12-18T16:18:01+02:00  1.923920e+09
 9  -rw-rw-r--  clouduser  clouduser                   megacorp_40m.sas7bdat  10962993152             2014-05-04T22:10:46+02:00  1.714853e+09

+ Elapsed: 0.0056s, user: 0.0012s, sys: 0.00261s, mem: 0.693mb

In [7]:
# Necessary if no test file as been already loaded in parquet file
s.table.loadtable(caslib="mydata", path="megacorp_40m.sas7bdat", casout={"name":"megacorp5_4m", "caslib":"mydata"})
s.table.tabledetails(caslib="mydata", name="megacorp5_4m")
s.table.save(caslib="dnfs", name="megacorp5_4m.parquet", table={"caslib":"mydata","name":"megacorp5_4m"}, replace="true")

NOTE: Executing action 'table.loadTable'.
NOTE: Cloud Analytic Services made the file megacorp_40m.sas7bdat available as table MEGACORP5_4M in caslib mydata.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               124.386227 seconds
NOTE:       cpu time                79.865829 seconds (64.21%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  23.10M (0.04%)
NOTE: Executing action 'table.tableDetails'.
NOTE: Action 'table.tableDetails' used (Total process time):
NOTE:       real time               0.002108 seconds
NOTE:       cpu time                0.002083 seconds (98.81%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  704.38K (0.00%)
NOTE: Executing action 'table.save'.
NOTE: Cloud Analytic Services saved the file megacorp5_4m.parquet in caslib dnfs.
NOTE: Action 'table.save' used (Total process time):
NOTE:       real time               85.138539 seconds
NOTE:       cpu time                261.306969 seconds (306.92%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  1.77G (2.83%)

[caslib]

 'dnfs'

[name]

 'megacorp5_4m.parquet'

+ Elapsed: 85.1s, user: 254s, sys: 7.8s, mem: 1.82e+03mb

NOTE: Executing action 'table.tableDetails'.
NOTE: Action 'table.tableDetails' used (Total process time):
NOTE:       real time               0.001994 seconds
NOTE:       cpu time                0.001518 seconds (76.13%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  704.25K (0.00%)

[TableDetails]

   Node  Blocks  Active      Rows  IndexSize     DataSize  VardataSize  CompressedSize  CompressionRatio  Mapped  MappedMemory  Unmapped  UnmappedMemory  Allocated  AllocatedMemory  DeletedRows
 0  ALL   15874   15874  40000000          0  16640000000            0               0                 0   15872   16640776192         0               0          2          1064960            0

+ Elapsed: 0.00199s, user: 0.00142s, sys: 0.000102s, mem: 0.688mb

### Get the size of generated partitioned parquet file

In [15]:
stream = os.popen("du -sh /opt/demo/dnfs/megacorp5_4m.parquet")
output = stream.read()
print(output)

1.1G	/opt/demo/dnfs/megacorp5_4m.parquet

### Get the size of original sas7bdat file

In [16]:
stream = os.popen("du -sh /opt/demo/sasdata/megacorp_40m.sas7bdat")
output = stream.read()
print(output)

11G	/opt/demo/sasdata/megacorp_40m.sas7bdat

In [17]:
s.table.columninfo(table={"caslib":"dnfs", "name":"megacorp5_4m.parquet"})

NOTE: Executing action 'table.columnInfo'.
NOTE: Action 'table.columnInfo' used (Total process time):
NOTE:       real time               0.097658 seconds
NOTE:       cpu time                0.034062 seconds (34.88%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  848.75K (0.00%)

[ColumnInfo]

                  Column Label  ID    Type  RawLength  FormattedLength Format  NFL  NFD
 0                  Date         1  double          8               12           0    0
 1            DateByYear         2  double          8               12           0    0
 2           DateByMonth         3  double          8               12           0    0
 3             DayOfWeek         4  double          8               12           0    0
 4            FacilityID         5  double          8               12           0    0
 5              Facility         6    char          7                7           0    0
 6          FacilityType         7    char          5                5           0    0
 7           FacilityAge         8  double          8               12           0    0
 8         EmployeesUsed         9  double          8               12           0    0
 9        FacilityRegion        10    char          5                5           0    0
 10        FacilityState        11    char          2                2           0    0
 11         FacilityCity        12    char         14               14           0    0
 12               UnitID        13  double          8               12           0    0
 13                 Unit        14    char         12               12           0    0
 14         UnitDowntime        15  double          8               12           0    0
 15              UnitAge        16  double          8               12           0    0
 16         UnitLifespan        17  double          8               12           0    0
 17    UnitLifespanLimit        18  double          8               12           0    0
 18      UnitReliability        19  double          8               12           0    0
 19           UnitStatus        20    char          7                7           0    0
 20         UnitCapacity        21  double          8               12           0    0
 21      UnitYieldTarget        22  double          8               12           0    0
 22      UnitYieldActual        23  double          8               12           0    0
 23        UnitYieldRate        24  double          8               12           0    0
 24         ProductBrand        25    char          7                7           0    0
 25          ProductLine        26    char         14               14           0    0
 26            ProductID        27  double          8               12           0    0
 27              Product        28    char         15               15           0    0
 28   ProductDescription        29    char         20               20           0    0
 29   ProductPriceTarget        30  double          8               12           0    0
 30   ProductPriceActual        31  double          8               12           0    0
 31  ProductMaterialCost        32  double          8               12           0    0
 32       ProductQuality        33  double          8               12           0    0
 33               Profit        34  double          8               12           0    0
 34              Revenue        35  double          8               12           0    0
 35             Expenses        36  double          8               12           0    0
 36      ExpensesCapital        37  double          8               12           0    0
 37  ExpensesOperational        38  double          8               12           0    0
 38     ExpensesMaterial        39  double          8               12           0    0
 39     ExpensesStaffing        40  double          8               12           0    0
 40      RegionLongitude        41  double          8               12           0    0
 41       RegionLatitude        42  double          8               12           0    0
 42       StateLongitude        43  double          8               12           0    0
 43        StateLatitude        44  double          8               12           0    0
 44        CityLongitude        45  double          8               12           0    0
 45         CityLatitude        46  double          8               12           0    0

+ Elapsed: 0.0977s, user: 0.0238s, sys: 0.0103s, mem: 0.829mb

In [18]:
s.table.columninfo(table={"caslib":"mydata", "name":"megacorp5_4m.sas7bdat"})

NOTE: Executing action 'table.columnInfo'.
NOTE: Action 'table.columnInfo' used (Total process time):
NOTE:       real time               0.012190 seconds
NOTE:       cpu time                0.006083 seconds (49.90%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  866.41K (0.00%)

[ColumnInfo]

                  Column                   Label  ID    Type  RawLength  FormattedLength   Format  NFL  NFD
 0                  Date                    Date   1  double          8                8   MMDDYY    0    0
 1            DateByYear            Date by Year   2  double          8                4     YEAR    0    0
 2           DateByMonth           Date by Month   3  double          8                5    MONYY    0    0
 3             DayOfWeek             Day of Week   4  double          8                1        F    1    0
 4            FacilityID             Facility ID   5  double          8                6        F    6    0
 5              Facility                Facility   6    char          7                7    $CHAR    7    0
 6          FacilityType           Facility Type   7    char          5                5    $CHAR    5    0
 7           FacilityAge            Facility Age   8  double          8                2        F    2    0
 8         EmployeesUsed          Employees Used   9  double          8                4        F    4    2
 9        FacilityRegion         Facility Region  10    char          5                5    $CHAR    5    0
 10        FacilityState          Facility State  11    char          2                2    $CHAR    2    0
 11         FacilityCity           Facility City  12    char         14               14    $CHAR   14    0
 12               UnitID                 Unit ID  13  double          8                6        F    6    0
 13                 Unit                    Unit  14    char         12               12    $CHAR   12    0
 14         UnitDowntime           Unit Downtime  15  double          8                3        F    3    0
 15              UnitAge                Unit Age  16  double          8                2        F    2    0
 16         UnitLifespan           Unit Lifespan  17  double          8                6  PERCENT    6    2
 17    UnitLifespanLimit     Unit Lifespan Limit  18  double          8                6  PERCENT    6    2
 18      UnitReliability        Unit Reliability  19  double          8                6  PERCENT    6    2
 19           UnitStatus             Unit Status  20    char          7                7    $CHAR    7    0
 20         UnitCapacity           Unit Capacity  21  double          8                4        F    4    0
 21      UnitYieldTarget     Unit Yield (target)  22  double          8                4        F    4    0
 22      UnitYieldActual     Unit Yield (actual)  23  double          8                4        F    4    0
 23        UnitYieldRate       Unit Yield (rate)  24  double          8                6  PERCENT    6    2
 24         ProductBrand           Product Brand  25    char          7                7    $CHAR    7    0
 25          ProductLine            Product Line  26    char         14               14    $CHAR   14    0
 26            ProductID              Product ID  27  double          8                6        F    6    0
 27              Product                 Product  28    char         15               15    $CHAR   15    0
 28   ProductDescription     Product Description  29    char         20               20    $CHAR   20    0
 29   ProductPriceTarget  Product Price (target)  30  double          8               15   DOLLAR   15    2
 30   ProductPriceActual  Product Price (actual)  31  double          8               15   DOLLAR   15    2
 31  ProductMaterialCost   Product Material Cost  32  double          8               15   DOLLAR   15    2
 32       ProductQuality         Product Quality  33  double          8                1        F    1    0
 33               Profit                  Profit  34  double          8               15   DOLLAR   15    2
 34              Revenue                 Revenue  35  double          8               15   DOLLAR   15    2
 35             Expenses                Expenses  36  double          8               15   DOLLAR   15    2
 36      ExpensesCapital      Expenses (capital)  37  double          8               15   DOLLAR   15    2
 37  ExpensesOperational  Expenses (operational)  38  double          8               15   DOLLAR   15    2
 38     ExpensesMaterial     Expenses (material)  39  double          8               15   DOLLAR   15    2
 39     ExpensesStaffing     Expenses (staffing)  40  double          8               15   DOLLAR   15    2
 40      RegionLongitude        Region Longitude  41  double          8               12             0    0
 41       RegionLatitude         Region Latitude  42  double          8               12             0    0
 42       StateLongitude         State Longitude  43  double          8               12             0    0
 43        StateLatitude          State Latitude  44  double          8               12             0    0
 44        CityLongitude          City Longitude  45  double          8               12             0    0
 45         CityLatitude           City Latitude  46  double          8               12             0    0

+ Elapsed: 0.0122s, user: 0.00116s, sys: 0.00492s, mem: 0.846mb

### Compute aggregates direclty on parquet files using CAS processing native support of parquet data without any data conversion to default CAS in-memory format

In [21]:
s.simple.summary(
        inputs={"Revenue","Expenses"},
        subSet={"SUM"},
        table={"caslib":"dnfs", "name":"megacorp5_4m.parquet", "groupBy":{"FacilityRegion","product","ProductLine","Productbrand"}}, 
        casout={"caslib":"casuser","name":"megacorp_summary","replace":"True","replication":"0"})

castbl = s.CASTable(caslib="casuser", name="megacorp_summary")
castbl.head()

NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.071601 seconds
NOTE:       cpu time                0.071545 seconds (99.92%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  703.94K (0.00%)
NOTE: Executing action 'simple.summary'.
NOTE: Action 'simple.summary' used (Total process time):
NOTE:       real time               3.187715 seconds
NOTE:       cpu time                44.589500 seconds (1398.79%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  44.32M (0.07%)

Selected Rows from Table MEGACORP_SUMMARY

  ProductBrand ProductBrand_f          Product        Product_f  ProductLine ProductLine_f FacilityRegion FacilityRegion_f  _Column_         _Sum_
0      Novelty        Novelty                .                .  Promotional   Promotional           East             East   Revenue  0.000000e+00
1      Novelty        Novelty                .                .  Promotional   Promotional           East             East  Expenses  4.465686e+06
2      Novelty        Novelty                .                .  Promotional   Promotional           West             West   Revenue  0.000000e+00
3      Novelty        Novelty                .                .  Promotional   Promotional           West             West  Expenses  6.371278e+06
4      Novelty        Novelty         Backpack         Backpack  Promotional   Promotional           East             East   Revenue  2.430418e+07

### Load in CAS by filtering parquet file rows and columns

In [22]:
s.table.loadtable(
    caslib="dnfs", 
    path="megacorp5_4m.parquet",
    where="year(DateByYear) in (2007,2008,2009)", 
    casout={"caslib":"dnfs", "name":"test_megacorp_parquet","replace":"true","replication":"0"}
)

NOTE: Executing action 'table.loadTable'.
NOTE: Cloud Analytic Services made the file megacorp5_4m.parquet available as table TEST_MEGACORP_PARQUET in caslib dnfs.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               10.581673 seconds
NOTE:       cpu time                147.570441 seconds (1394.59%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  344.97M (0.54%)

[caslib]

 'dnfs'

[tableName]

 'TEST_MEGACORP_PARQUET'

[casTable]

 CASTable('TEST_MEGACORP_PARQUET', caslib='dnfs')

+ Elapsed: 10.6s, user: 145s, sys: 2.17s, mem: 345mb

### Apply date format where necessary (parquet save loses the format in Viya 3.5)

In [23]:
s.table.alterTable(caslib="dnfs",
    columns=[
        {"format":"DATE9.","name":"Date"},
        {"format":"DATE9.","name":"DateByYear"},
        {"format":"DATE9.","name":"DateByMonth"}],
    name="test_megacorp_parquet")

NOTE: Executing action 'table.alterTable'.
NOTE: Action 'table.alterTable' used (Total process time):
NOTE:       real time               0.002060 seconds
NOTE:       cpu time                0.000660 seconds (32.04%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  310.50K (0.00%)

+ Elapsed: 0.00206s, user: 0.000416s, sys: 0.000244s, mem: 0.303mb

In [24]:
s.fedsql.execdirect(query="select FacilityRegion, datebyyear, count(*) from dnfs.test_megacorp_parquet group by FacilityRegion, datebyyear")

NOTE: Executing action 'fedSql.execDirect'.
NOTE: Action 'fedSql.execDirect' used (Total process time):
NOTE:       real time               1.751263 seconds
NOTE:       cpu time                9.610347 seconds (548.77%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  211.17M (0.33%)

[Result Set]

    FacilityRegion  DateByYear   COUNT
 0           North  2009-01-01  175277
 1           North  2008-01-01  114395
 2            East  2008-01-01  163381
 3            West  2009-01-01  394980
 4            West  2007-01-01  534131
 5            East  2009-01-01  118201
 6            East  2007-01-01  134814
 7           South  2007-01-01  877575
 8            West  2008-01-01  551657
 9           South  2009-01-01  625534
 10          North  2007-01-01  124984
 11          South  2008-01-01  888245

+ Elapsed: 1.75s, user: 9.39s, sys: 0.22s, mem: 211mb

In [25]:
s.table.fetch(table={"caslib":"dnfs", "name":"test_megacorp_parquet"},to=10)

NOTE: Executing action 'table.fetch'.
NOTE: Action 'table.fetch' used (Total process time):
NOTE:       real time               0.002566 seconds
NOTE:       cpu time                0.001894 seconds (73.81%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  1.01M (0.00%)

[Fetch]

 Selected Rows from Table TEST_MEGACORP_PARQUET

          Date  DateByYear DateByMonth  DayOfWeek  FacilityID Facility FacilityType  FacilityAge  EmployeesUsed FacilityRegion FacilityState FacilityCity  UnitID          Unit  UnitDowntime  UnitAge  UnitLifespan  UnitLifespanLimit  UnitReliability UnitStatus  UnitCapacity  UnitYieldTarget  UnitYieldActual  UnitYieldRate ProductBrand    ProductLine    ProductID      Product ProductDescription  ProductPriceTarget  ProductPriceActual  ProductMaterialCost  ProductQuality    Profit    Revenue   Expenses  ExpensesCapital  ExpensesOperational  ExpensesMaterial  ExpensesStaffing  RegionLongitude  RegionLatitude  StateLongitude  StateLatitude  CityLongitude  CityLatitude
 0  2007-02-14  2007-01-01  2007-02-01        4.0       167.0  OH00167        Plant         22.0       0.037658          North            OH   Cincinnati   172.0  TOYAF0000172           0.0      6.0           0.5                0.3         0.782259     active         774.0            164.0            164.0       1.000000          Toy  Action Figure  784913169.0      Athlete         Soccer (F)            4.211586            4.211586             0.421159             1.0  1.023050   9.966544   8.943494              0.0             5.954007          0.469952          2.568327       -92.317888       42.469658      -82.741635      40.190727      -84.45694      39.16194
 1  2007-02-08  2007-01-01  2007-02-01        5.0       167.0  OH00167        Plant         22.0       0.036165          North            OH   Cincinnati   175.0  TOYAF0000175           0.0      6.0           0.5                0.3         0.782259     active         774.0            164.0            140.0       0.853658          Toy  Action Figure  784818728.0   Movie Star               Male            4.211586            4.211586             0.421159             1.0 -2.598185   7.108572   9.706757              0.0             6.854497          0.493358          2.431100       -92.317888       42.469658      -82.741635      40.190727      -84.45694      39.16194
 2  2007-02-21  2007-01-01  2007-02-01        4.0       167.0  OH00167        Plant         22.0       0.035786          North            OH   Cincinnati   172.0  TOYAF0000172           0.0      6.0           0.5                0.3         0.782259     active         774.0            164.0            164.0       1.000000          Toy  Action Figure  785039123.0   Super Hero       Wonder Woman            4.211586            4.211586             0.421159             1.0 -0.184967   8.549000   8.733967              0.0             5.917911          0.652283          2.394897       -92.317888       42.469658      -82.741635      40.190727      -84.45694      39.16194
 3  2007-02-14  2007-01-01  2007-02-01        4.0       167.0  OH00167        Plant         22.0       0.037658          North            OH   Cincinnati   173.0  TOYAF0000173           0.0      6.0           0.5                0.3         0.782259     active         774.0            164.0            164.0       1.000000          Toy  Action Figure  784913822.0       Police             Female            4.211586            4.211586             0.421159             1.0  1.713848  10.657342   8.943494              0.0             5.954007          0.611194          2.568327       -92.317888       42.469658      -82.741635      40.190727      -84.45694      39.16194
 4  2007-02-19  2007-01-01  2007-02-01        2.0       167.0  OH00167        Plant         22.0       0.032939          North            OH   Cincinnati   171.0  TOYAF0000171           0.0      6.0           0.5                0.3         0.782259     active         774.0            164.0            134.0       0.817073          Toy  Action Figure  784992532.0      Athlete           Football            4.211586            4.211586             0.421159             1.0 -5.440747   4.189586   9.630333              0.0             7.076622          0.515448          2.132552       -92.317888       42.469658      -82.741635      40.190727      -84.45694      39.16194
 5  2007-02-14  2007-01-01  2007-02-01        4.0       167.0  OH00167        Plant         22.0       0.037658          North            OH   Cincinnati   173.0  TOYAF0000173           0.0      6.0           0.5                0.3         0.782259     active         774.0            164.0            164.0       1.000000          Toy  Action Figure  784914048.0       Police             Female            4.211586            4.211586             0.421159             1.0  1.713848  10.657342   8.943494              0.0             5.954007          0.611194          2.568327       -92.317888       42.469658      -82.741635      40.190727      -84.45694      39.16194
 6  2007-02-14  2007-01-01  2007-02-01        4.0       167.0  OH00167        Plant         22.0       0.037658          North            OH   Cincinnati   168.0  TOYAF0000168           0.0      6.0           0.5                0.3         0.782259     active         774.0            164.0            164.0       1.000000          Toy  Action Figure  784911502.0   Movie Star             Female            4.211586            4.211586             0.421159             1.0  1.772913  10.716407   8.943494              0.0             5.954007          0.536721          2.568327       -92.317888       42.469658      -82.741635      40.190727      -84.45694      39.16194
 7  2007-02-14  2007-01-01  2007-02-01        4.0       167.0  OH00167        Plant         22.0       0.037658          North            OH   Cincinnati   174.0  TOYAF0000174           0.0      6.0           0.5                0.3         0.782259     active         774.0            164.0            127.0       0.774390          Toy  Action Figure  784914213.0      Athlete             Nascar            4.211586            4.211586             0.421159             1.0 -6.329534   4.195004  10.524539              0.0             7.533276          0.543859          2.570104       -92.317888       42.469658      -82.741635      40.190727      -84.45694      39.16194
 8  2007-02-21  2007-01-01  2007-02-01        4.0       167.0  OH00167        Plant         22.0       0.035786          North            OH   Cincinnati   170.0  TOYAF0000170           0.0      6.0           0.5                0.3         0.782259     active         774.0            164.0            164.0       1.000000          Toy  Action Figure  785038621.0       Police               Male            4.211586            4.211586             0.421159             1.0  2.010686  10.744654   8.733967              0.0             5.917911          0.557265          2.394897       -92.317888       42.469658      -82.741635      40.190727      -84.45694      39.16194
 9  2007-02-21  2007-01-01  2007-02-01        4.0       167.0  OH00167        Plant         22.0       0.035786          North            OH   Cincinnati   169.0  TOYAF0000169           0.0      6.0           0.5                0.3         0.782259     active         774.0            164.0            164.0       1.000000          Toy  Action Figure  785038213.0  Firefighter             Female            4.211586            4.211586             0.421159             1.0  1.674278  10.408245   8.733967              0.0             5.917911          0.467384          2.394897       -92.317888       42.469658      -82.741635      40.190727      -84.45694      39.16194

+ Elapsed: 0.00257s, user: 0.00189s, mem: 1.01mb

## Distributed CAS engine based Stratified sampling directly from parquet file

In [30]:
s.stratified(display={"names":"STRAFreq"},
              output={"casOut":{"caslib":"casuser","name":"out", "replace":True}, "copyVars":"ALL"},
              samppct=10, samppct2=20, partind='true', seed=10,
              table={"caslib":"dnfs", "name":"megacorp5_4m.parquet", "groupBy":{"FacilityRegion"},"where":"year(DateByYear) in (2009)"},
              outputTables={"names":{"STRAFreq"},"replace":True})

NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.085258 seconds
NOTE:       cpu time                0.084748 seconds (99.40%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  672.53K (0.00%)
NOTE: Executing action 'sampling.stratified'.
NOTE: Stratified sampling is in effect.
NOTE: Using SEED=10 for sampling.
NOTE: The CAS table 'STRAFreq' in caslib 'mydata' has 4 rows and 5 columns.
NOTE: Action 'sampling.stratified' used (Total process time):
NOTE:       real time               21.958583 seconds
NOTE:       cpu time                285.401514 seconds (1299.73%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  352.64M (0.55%)

[STRAFreq]

 Frequencies

    ByGrpID FacilityRegion    NObs  NSamp1  NSamp2
 0        0           East  118201   11820   23640
 1        1          North  175277   17528   35055
 2        2          South  625534   62553  125107
 3        3           West  394980   39498   78996

+ Elapsed: 22s, user: 282s, sys: 3.1s, mem: 353mb

In [31]:
stratOut = s.CASTable('out', caslib='casuser')
stratOut.columns

Index(['Date', 'DateByYear', 'DateByMonth', 'DayOfWeek', 'FacilityID',
       'Facility', 'FacilityType', 'FacilityAge', 'EmployeesUsed',
       'FacilityRegion', 'FacilityState', 'FacilityCity', 'UnitID', 'Unit',
       'UnitDowntime', 'UnitAge', 'UnitLifespan', 'UnitLifespanLimit',
       'UnitReliability', 'UnitStatus', 'UnitCapacity', 'UnitYieldTarget',
       'UnitYieldActual', 'UnitYieldRate', 'ProductBrand', 'ProductLine',
       'ProductID', 'Product', 'ProductDescription', 'ProductPriceTarget',
       'ProductPriceActual', 'ProductMaterialCost', 'ProductQuality', 'Profit',
       'Revenue', 'Expenses', 'ExpensesCapital', 'ExpensesOperational',
       'ExpensesMaterial', 'ExpensesStaffing', 'RegionLongitude',
       'RegionLatitude', 'StateLongitude', 'StateLatitude', 'CityLongitude',
       'CityLatitude', '_PartInd_'],
      dtype='object')

In [41]:
stratOut(stratOut['_PartInd_'].astype(int)).hist(bins=3)

## Use panda syntax directly on parquet data through CAS

In [70]:
megacorpParquet = s.CASTable('megacorp5_4m.parquet', caslib='dnfs')

In [71]:
megacorpParquet.describe()

NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.109834 seconds
NOTE:       cpu time                0.094651 seconds (86.18%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  669.97K (0.00%)
NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.047607 seconds
NOTE:       cpu time                0.047614 seconds (100.01%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  669.97K (0.00%)
NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.040336 seconds
NOTE:       cpu time                0.040319 seconds (99.96%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  669.97K (0.00%)
NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.056201 seconds
NOTE:       cpu time                0.056186 seconds (99.97%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  669.97K (0.00%)
NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.038114 seconds
NOTE:       cpu time                0.038103 seconds (99.97%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  670.06K (0.00%)

               Date    DateByYear   DateByMonth     DayOfWeek    FacilityID   FacilityAge  EmployeesUsed        UnitID  UnitDowntime       UnitAge  UnitLifespan  UnitLifespanLimit  UnitReliability  UnitCapacity  UnitYieldTarget  UnitYieldActual  UnitYieldRate     ProductID  ProductPriceTarget  ProductPriceActual  ProductMaterialCost  ProductQuality        Profit       Revenue      Expenses  ExpensesCapital  ExpensesOperational  ExpensesMaterial  ExpensesStaffing  RegionLongitude  RegionLatitude  StateLongitude  StateLatitude  CityLongitude  CityLatitude
count  4.000000e+07  4.000000e+07  4.000000e+07  4.000000e+07  4.000000e+07  4.000000e+07   4.000000e+07  4.000000e+07  4.000000e+07  4.000000e+07  4.000000e+07       4.000000e+07     4.000000e+07  4.000000e+07     4.000000e+07     4.000000e+07   3.993833e+07  3.993833e+07        3.993833e+07        3.993833e+07         4.000000e+07    3.993833e+07  4.000000e+07  4.000000e+07  4.000000e+07     4.000000e+07         4.000000e+07      4.000000e+07      4.000000e+07     4.000000e+07    4.000000e+07    4.000000e+07   4.000000e+07   3.965751e+07  3.965751e+07
mean   1.440896e+04  1.422843e+04  1.439400e+04  3.990249e+00  2.301279e+02  1.212302e+01   2.300459e-02  2.465871e+02  1.541850e-03  3.026873e+00  7.477254e-01       2.854449e-01     8.793205e-01  6.958860e+02     5.740478e+02     5.164314e+02   9.007562e-01  5.800962e+08        1.647411e+01        1.639099e+01         6.376732e+00    1.049937e+00  3.014841e+01  4.347314e+01  1.332473e+01     3.511395e+00         2.651927e+00      8.496670e+00      7.846735e-01    -9.524055e+01    3.742709e+01   -9.639832e+01   3.516806e+01  -9.582786e+01  3.445499e+01
std    2.660953e+03  2.658833e+03  2.660857e+03  1.487613e+00  1.731887e+02  7.568187e+00   5.585180e-02  1.731760e+02  3.923612e-02  2.233391e+00  1.861202e-01       7.657570e-02     1.035145e-01  1.298910e+02     1.869815e+02     1.879681e+02   1.402138e-01  3.343016e+08        3.065749e+01        3.053051e+01         1.625733e+01    2.215231e-01  1.944930e+02  7.781782e+01  1.820345e+02     1.692714e+02         1.540393e+01      8.731851e+01      4.846275e+00     1.072409e+01    3.804144e+00    1.236505e+01   4.337311e+00   1.238315e+01  5.187174e+00
min    7.305000e+03  7.305000e+03  7.305000e+03  1.000000e+00  2.000000e+00  0.000000e+00   1.241336e-02  3.000000e+00  0.000000e+00  0.000000e+00  2.500000e-01       9.999996e-02     3.978496e-01  6.400000e+01     0.000000e+00     0.000000e+00   1.176471e-01  1.570000e+02        5.000000e-01        0.000000e+00         0.000000e+00    1.000000e+00 -6.004227e+04  0.000000e+00  5.853063e-01     0.000000e+00         6.250000e-02      0.000000e+00      2.207568e-01    -1.155303e+02    3.425528e+01   -1.199918e+02   3.098397e+01  -1.224183e+02  2.780028e+01
25%    1.247100e+04  1.241900e+04  1.245000e+04  3.000000e+00  6.800000e+01  6.000000e+00   1.398977e-02  8.900000e+01  0.000000e+00  1.000000e+00  5.832520e-01       3.000000e-01     8.236408e-01  6.400000e+02     4.490000e+02     3.680000e+02   8.451700e-01  2.907497e+08        2.803232e+00        2.701717e+00         3.088841e-01    1.000000e+00  1.808657e+00  4.331179e+00  1.962953e+00     0.000000e+00         1.090710e+00      3.587319e-01      2.982108e-01    -9.231789e+01    3.425528e+01   -9.968263e+01   3.116902e+01  -9.739611e+01  3.069417e+01
50%    1.462000e+04  1.461000e+04  1.461000e+04  4.000000e+00  2.310000e+02  1.100000e+01   1.820302e-02  2.420000e+02  0.000000e+00  3.000000e+00  7.500000e-01       3.000000e-01     9.168630e-01  7.040000e+02     6.400000e+02     5.560000e+02   9.499998e-01  5.807407e+08        4.188259e+00        4.086273e+00         4.380052e-01    1.000000e+00  8.090256e+00  1.235544e+01  3.414849e+00     0.000000e+00         1.346020e+00      6.755792e-01      4.456846e-01    -9.064271e+01    3.425528e+01   -9.245323e+01   3.261565e+01  -9.228944e+01  3.350917e+01
75%    1.654700e+04  1.643700e+04  1.652700e+04  5.000000e+00  3.630000e+02  1.800000e+01   2.542694e-02  3.810000e+02  0.000000e+00  5.000000e+00  9.166260e-01       3.000000e-01     9.607215e-01  7.740000e+02     7.040000e+02     6.680000e+02   1.000000e+00  8.690358e+08        1.688573e+01        1.688573e+01         7.395256e+00    1.000000e+00  3.563822e+01  4.903479e+01  1.080489e+01     0.000000e+00         1.877671e+00      8.552897e+00      5.952286e-01    -9.064271e+01    4.105957e+01   -8.673328e+01   3.973930e+01  -8.804306e+01  3.777500e+01
max    1.899200e+04  1.862800e+04  1.896200e+04  7.000000e+00  6.580000e+02  3.100000e+01   2.153332e+00  6.880000e+02  1.000000e+00  9.000000e+00  1.000000e+00       5.000000e-01     9.891748e-01  8.510000e+02     8.510000e+02     8.510000e+02   1.000000e+00  1.158960e+09        2.628030e+02        2.628030e+02         1.576819e+02    4.000000e+00  1.670002e+03  1.783977e+03  6.004227e+04     5.914843e+04         1.014781e+03      5.207548e+04      2.006875e+02    -7.309218e+01    4.357489e+01   -7.155220e+01   4.727295e+01  -7.145528e+01  4.760639e+01

In [79]:
m=megacorpParquet.sample(1000)

NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.087603 seconds
NOTE:       cpu time                0.087550 seconds (99.94%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  673.91K (0.00%)
NOTE: Executing action 'table.loadTable'.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.050605 seconds
NOTE:       cpu time                0.050582 seconds (99.95%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            62.67G
NOTE:       memory                  670.06K (0.00%)

In [80]:
m.shape

(1000, 46)

## Distributed CAS engine based data preprocessing directly from parquet file

In [27]:
s.stratified(display={"names":"STRAFreq"},
              output={"casOut":{"caslib":"casuser","name":"out", "replace":True}, "copyVars":"ALL"},
              samppct=10, samppct2=20, partind=True, seed=10,
              table={"caslib":"dnfs", "name":"megacorp5_4m.parquet", "groupBy":{"FacilityRegion"}},
              outputTables={"names":{"STRAFreq"},"replace":True})

In [27]:
s.about()

NOTE: Grid node action status report: 1 nodes, 28 total actions executed.

[About]

 {'CAS': 'Cloud Analytic Services',
  'Version': '3.05',
  'VersionLong': 'V.03.05M0P11112019',
  'Copyright': 'Copyright © 2014-2018 SAS Institute Inc. All Rights Reserved.',
  'ServerTime': '2021-06-30T13:34:34Z',
  'System': {'Hostname': 'frasepviya35smp.cloud.com',
   'OS Name': 'Linux',
   'OS Family': 'LIN X64',
   'OS Release': '3.10.0-1160.31.1.el7.x86_64',
   'OS Version': '#1 SMP Thu Jun 10 13:32:12 UTC 2021',
   'Model Number': 'x86_64',
   'Linux Distribution': 'CentOS Linux release 7.9.2009 (Core)'},
  'license': {'site': 'viya35_25May2021',
   'siteNum': 70180938,
   'expires': '25May2022:00:00:00',
   'gracePeriod': 45,
   'warningPeriod': 45}}

[server]

 Server Status

    nodes  actions
 0      1       28

[nodestatus]

 Node Status

                         name        role    uptime  running  stalled
 0  frasepviya35smp.cloud.com  controller  1291.917        0        0

+ Elapsed: 0.00117s, user: 0.000145s, sys: 0.00101s, mem: 0.305mb

In [52]:
s.terminate()