In [64]:
import pandas as pd
import os
import swat
from tabulate import tabulate
import time
from pprint import pprint

In [65]:
os.environ['CAS_CLIENT_SSL_CA_LIST'] = '/opt/sas/viya/config/etc/SASSecurityCertificateFramework/cacerts/trustedcerts.pem'
cashost='frasepviya35smp'
casport=5570
s = swat.CAS(cashost, casport)
s.sessionProp.setSessOpt(metrics="TRUE", timeout=1800, caslib='casuser', messageLevel="ALL")

NOTE: 'CASUSER(viyademo01)' is now the active caslib.
NOTE: Action 'sessionProp.setSessOpt' used (Total process time):
NOTE:       real time               0.000378 seconds
NOTE:       cpu time                0.000335 seconds (88.62%)
NOTE:       total nodes             1 (32 cores)
NOTE:       total memory            117.88G
NOTE:       memory                  280.44K (0.00%)

+ Elapsed: 0.000378s, user: 0.000211s, sys: 0.000124s, mem: 0.274mb

In [66]:
# CASTable view on megacorp
castbl = s.CASTable(caslib="mydata", name="ds_output_megacorp5_4m")

In [67]:
castbl

CASTable('ds_output_megacorp5_4m', caslib='mydata')

In [68]:
castbl.shape

(384, 50)

In [69]:
castbl.columns

Index(['unit_status_level', 'Date', 'DateByYear', 'DateByMonth', 'DayOfWeek',
       'FacilityID', 'Facility', 'FacilityType', 'FacilityAge',
       'EmployeesUsed', 'FacilityRegion', 'FacilityState', 'FacilityCity',
       'UnitID', 'Unit', 'UnitDowntime', 'UnitAge', 'UnitLifespan',
       'UnitLifespanLimit', 'UnitReliability', 'UnitStatus', 'UnitCapacity',
       'UnitYieldTarget', 'UnitYieldActual', 'UnitYieldRate', 'ProductBrand',
       'ProductLine', 'ProductID', 'Product', 'ProductDescription',
       'ProductPriceTarget', 'ProductPriceActual', 'ProductMaterialCost',
       'ProductQuality', 'Profit', 'Revenue', 'Expenses', 'ExpensesCapital',
       'ExpensesOperational', 'ExpensesMaterial', 'ExpensesStaffing',
       'RegionLongitude', 'RegionLatitude', 'StateLongitude', 'StateLatitude',
       'CityLongitude', 'CityLatitude', 'cumulative_actual', 'actual', 'done'],
      dtype='object')

In [70]:
castbl.summary()

NOTE: Executing action 'simple.summary'.
NOTE: Action 'simple.summary' used (Total process time):
NOTE:       real time               0.010442 seconds
NOTE:       cpu time                0.017797 seconds (170.44%)
NOTE:       total nodes             1 (32 cores)
NOTE:       total memory            117.88G
NOTE:       memory                  4.60M (0.00%)

,Column,Min,Max,N,NMiss,Mean,Sum,Std,StdErr,Var,USS,CSS,CV,TValue,ProbT,Skewness,Kurtosis
0,Date,7309.000000,18978.000000,384.0,0.0,13145.242188,5.047773e+06,3376.528457,172.307746,1.140094e+07,7.072076e+10,4.366562e+09,25.686316,76.289328,1.052739e-233,-2.202758e-04,-1.199832
1,DateByYear,7305.000000,18628.000000,384.0,0.0,12966.750000,4.979232e+06,3376.793606,172.321277,1.140274e+07,6.893170e+10,4.367248e+09,26.041943,75.247527,1.468073e-231,-2.620750e-06,-1.202351
2,DateByMonth,7305.000000,18962.000000,384.0,0.0,13133.458333,5.043248e+06,3378.398316,172.403167,1.141358e+07,7.060669e+10,4.371399e+09,25.723600,76.178753,1.772987e-233,-6.812022e-07,-1.200038
3,DayOfWeek,1.000000,7.000000,384.0,0.0,6.445312,2.475000e+03,1.275243,0.065077,1.626244e+00,1.657500e+04,6.228516e+02,19.785586,99.041384,5.219404e-275,-2.428653e+00,5.353150
4,FacilityID,2.000000,58.000000,384.0,0.0,20.992188,8.061000e+03,15.228887,0.777146,2.319190e+02,2.580430e+05,8.882498e+04,72.545498,27.011901,1.015145e-90,4.184852e-01,-1.050151
5,FacilityAge,0.000000,30.000000,384.0,0.0,9.692708,3.722000e+03,8.019516,0.409244,6.431264e+01,6.070800e+04,2.463174e+04,82.737617,23.684412,5.035197e-77,5.198550e-01,-0.857305
6,EmployeesUsed,0.062632,2.019999,384.0,0.0,1.677909,6.443170e+02,0.647659,0.033051,4.194619e-01,1.241759e+03,1.606539e+02,38.599166,50.767723,3.630901e-172,-1.693620e+00,1.224650
7,UnitID,3.000000,60.000000,384.0,0.0,22.557292,8.662000e+03,15.241549,0.777792,2.323048e+02,2.843640e+05,8.897274e+04,67.568167,29.001701,1.139592e-98,4.035674e-01,-1.060200
8,UnitDowntime,1.000000,1.000000,384.0,0.0,1.000000,3.840000e+02,0.000000,0.000000,0.000000e+00,3.840000e+02,0.000000e+00,0.000000,NaN,NaN,NaN,NaN
9,UnitAge,0.000000,9.000000,384.0,0.0,2.723958,1.046000e+03,2.345341,0.119685,5.500626e+00,4.956000e+03,2.106740e+03,86.100482,22.759359,3.830557e-73,5.693909e-01,-0.834629
10,UnitLifespan,0.250000,1.000000,384.0,0.0,0.772969,2.968201e+02,0.195451,0.009974,3.820115e-02,2.440638e+02,1.463104e+01,25.285763,77.497830,3.687229e-236,-5.691970e-01,-0.834749
11,UnitLifespanLimit,0.100000,0.500000,384.0,0.0,0.293750,1.128000e+02,0.084040,0.004289,7.062664e-03,3.583999e+01,2.705000e+00,28.609250,68.495044,5.316165e-217,-1.998172e-01,2.667464
12,UnitReliability,0.434648,0.989175,384.0,0.0,0.880912,3.382703e+02,0.104799,0.005348,1.098286e-02,3.021929e+02,4.206435e+00,11.896660,164.717816,0.000000e+00,-1.397959e+00,1.375849
13,UnitCapacity,4.000000,52.000000,384.0,0.0,33.010417,1.267600e+04,17.280965,0.881866,2.986317e+02,5.328160e+05,1.143760e+05,52.350035,37.432483,4.940608e-130,-1.012565e+00,-0.793562
14,UnitYieldTarget,0.000000,0.000000,384.0,0.0,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
15,UnitYieldActual,0.000000,0.000000,384.0,0.0,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
16,UnitYieldRate,NaN,NaN,0.0,384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ProductID,NaN,NaN,0.0,384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,ProductPriceTarget,NaN,NaN,0.0,384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ProductPriceActual,NaN,NaN,0.0,384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,ProductMaterialCost,0.000000,0.000000,384.0,0.0,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
21,ProductQuality,NaN,NaN,0.0,384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Profit,-2894.878098,-26.560266,384.0,0.0,-209.918454,-8.060869e+04,152.012154,7.757338,2.310769e+04,2.577150e+07,8.850247e+06,-72.414860,-27.060631,6.449651e-91,-1.433518e+01,255.258239
23,Revenue,0.000000,0.000000,384.0,0.0,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
24,Expenses,26.560266,2894.878098,384.0,0.0,209.918454,8.060869e+04,152.012154,7.757338,2.310769e+04,2.577150e+07,8.850247e+06,72.414860,27.060631,6.449651e-91,1.433518e+01,255.258239
25,ExpensesCapital,10.000000,2671.128094,384.0,0.0,29.032584,1.114851e+04,135.603593,6.919992,1.838833e+04,7.366402e+06,7.042732e+06,467.073799,4.195465,3.387350e-05,1.941686e+01,379.201693
26,ExpensesOperational,1.052632,71.500000,384.0,0.0,40.220324,1.544460e+04,13.782749,0.703348,1.899642e+02,6.939433e+05,7.275627e+04,34.268119,57.184107,1.171185e-189,-4.033799e-01,-0.270396
27,ExpensesMaterial,0.050000,2708.557373,384.0,0.0,24.252366,9.312908e+03,145.379011,7.418842,2.113506e+04,8.320587e+06,8.094727e+06,599.442599,3.269023,1.176798e-03,1.672036e+01,305.799600
28,ExpensesStaffing,4.473684,192.250000,384.0,0.0,140.665546,5.401557e+04,54.964333,2.804887,3.021078e+03,8.755202e+06,1.157073e+06,39.074482,50.150167,2.139263e-170,-1.611818e+00,1.098606
29,RegionLongitude,-115.530266,-73.092184,384.0,0.0,-96.264048,-3.696539e+04,10.433889,0.532452,1.088660e+02,3.600134e+06,4.169569e+04,-10.838822,-180.793791,0.000000e+00,-1.148175e+00,-0.060969
30,RegionLatitude,34.255277,43.574886,384.0,0.0,37.854486,1.453612e+04,3.832036,0.195553,1.468450e+01,5.558816e+05,5.624162e+03,10.123069,193.576850,0.000000e+00,1.597694e-01,-1.912889
31,StateLongitude,-119.991760,-76.085142,384.0,0.0,-96.723358,-3.714177e+04,12.535545,0.639702,1.571399e+02,3.652661e+06,6.018458e+04,-12.960204,-151.200686,0.000000e+00,-7.113282e-01,-0.712004
32,StateLatitude,30.983966,47.272950,384.0,0.0,35.708834,1.371219e+04,4.798980,0.244897,2.303021e+01,4.984670e+05,8.820571e+03,13.439196,145.811680,0.000000e+00,9.204716e-01,-0.052655
33,CityLongitude,-122.418330,-75.164170,383.0,1.0,-96.204306,-3.684625e+04,12.476415,0.637515,1.556609e+02,3.604230e+06,5.946248e+04,-12.968666,-150.905155,0.000000e+00,-9.953167e-01,-0.267119
34,CityLatitude,27.800283,47.606390,383.0,1.0,35.227407,1.349210e+04,5.427338,0.277324,2.945600e+01,4.865438e+05,1.125219e+04,15.406579,127.026164,0.000000e+00,7.901468e-01,-0.276686
35,cumulative_actual,NaN,NaN,0.0,384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,actual,NaN,NaN,0.0,384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,done,NaN,NaN,0.0,384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
castbl.describe()

,Date,DateByYear,DateByMonth,DayOfWeek,FacilityID,FacilityAge,EmployeesUsed,UnitID,UnitDowntime,UnitAge,...,ExpensesStaffing,RegionLongitude,RegionLatitude,StateLongitude,StateLatitude,CityLongitude,CityLatitude,cumulative_actual,actual,done
count,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.0,384.000000,...,384.000000,384.000000,384.000000,384.000000,384.000000,383.000000,383.000000,0.0,0.0,0.0
mean,13145.242188,12966.750000,13133.458333,6.445312,20.992188,9.692708,1.677909,22.557292,1.0,2.723958,...,140.665546,-96.264048,37.854486,-96.723358,35.708834,-96.204306,35.227407,NaN,NaN,NaN
std,3376.528457,3376.793606,3378.398316,1.275243,15.228887,8.019516,0.647659,15.241549,0.0,2.345341,...,54.964333,10.433889,3.832036,12.535545,4.798980,12.476415,5.427338,NaN,NaN,NaN
min,7309.000000,7305.000000,7305.000000,1.000000,2.000000,0.000000,0.062632,3.000000,1.0,0.000000,...,4.473684,-115.530266,34.255277,-119.991760,30.983966,-122.418330,27.800283,NaN,NaN,NaN
25%,10238.500000,10044.500000,10211.500000,7.000000,6.500000,2.000000,1.681665,8.000000,1.0,1.000000,...,138.666668,-92.317888,34.255277,-99.682629,31.169020,-97.396111,30.694170,NaN,NaN,NaN
50%,13150.500000,12966.500000,13133.500000,7.000000,17.000000,9.000000,2.009998,19.000000,1.0,2.000000,...,162.500000,-90.642710,34.255277,-92.453228,34.168250,-92.289440,33.509170,NaN,NaN,NaN
75%,16076.500000,15888.500000,16055.500000,7.000000,36.000000,16.000000,2.019999,37.000000,1.0,5.000000,...,171.750000,-90.642710,42.469658,-86.733277,39.739300,-87.650000,39.161940,NaN,NaN,NaN
max,18978.000000,18628.000000,18962.000000,7.000000,58.000000,30.000000,2.019999,60.000000,1.0,9.000000,...,192.250000,-73.092184,43.574886,-76.085142,47.272950,-75.164170,47.606390,NaN,NaN,NaN

In [72]:
castbl[['Date','Profit','Revenue']].sample(50).head(50)

Selected Rows from Table _PY_T_9E7562E3_636E_4C40_9EC1_42A3F22C10A6

          Date       Profit  Revenue
0   1990-05-05  -232.903923      0.0
1   1995-04-29  -224.219051      0.0
2   1982-07-31  -208.790001      0.0
3   2010-10-30  -291.273491      0.0
4   1987-06-13  -227.354538      0.0
5   1990-03-01  -218.834702      0.0
6   1994-11-02  -232.597439      0.0
7   2005-06-02  -268.188805      0.0
8   1984-01-14  -217.191172      0.0
9   1995-05-27  -227.969051      0.0
10  1980-09-27  -190.000000      0.0
11  2001-08-02  -249.233356      0.0
12  1991-08-24  -213.761616      0.0
13  1992-01-04  -236.232079      0.0
14  1984-02-04  -217.191172      0.0
15  1993-04-17  -239.294044      0.0
16  1994-05-01  -246.097439      0.0
17  2010-01-01 -2894.878098      0.0
18  1988-08-06  -226.958717      0.0
19  1999-04-01   -59.932943      0.0
20  1989-01-21  -229.837067      0.0
21  2006-08-02  -270.131966      0.0
22  1996-08-17  -227.083122      0.0
23  2010-02-06  -201.440163      0.0
24  2008-11-01  -269.604031      0.0
25  2009-06-06  -275.523491      0.0
26  2010-04-17  -271.523491      0.0
27  1999-06-05  -238.092926      0.0
28  2000-01-01  -239.044785      0.0
29  1984-09-22  -219.691172      0.0
30  2001-04-07  -242.736130      0.0
31  2006-01-07  -264.984970      0.0
32  2007-11-24  -258.044521      0.0
33  1992-09-19  -198.732080      0.0
34  2003-12-20  -178.353851      0.0
35  1983-05-28  -193.292399      0.0
36  2009-07-01  -118.603195      0.0
37  1985-10-26  -220.738819      0.0
38  2004-08-03  -268.773109      0.0
39  1996-02-03  -167.666458      0.0
40  2011-12-17  -203.618965      0.0
41  1992-03-21  -216.982079      0.0
42  1996-11-30  -201.083124      0.0
43  2007-05-01  -276.603428      0.0
44  1983-03-01   -49.095615      0.0
45  1986-01-11  -149.641706      0.0
46  1984-10-13  -219.941172      0.0
47  2010-07-17  -267.273491      0.0
48  2000-05-27   -59.711452      0.0
49  2004-01-24   -77.310925      0.0

In [73]:
castbl.head(5)

,unit_status_level,Date,DateByYear,DateByMonth,DayOfWeek,FacilityID,Facility,FacilityType,FacilityAge,EmployeesUsed,...,ExpensesStaffing,RegionLongitude,RegionLatitude,StateLongitude,StateLatitude,CityLongitude,CityLatitude,cumulative_actual,actual,done
0,U,1988-09-17,1988-01-01,1988-09-01,7.0,27.0,AL00027,Plant,1.0,2.009998,...,158.25,-90.64271,34.255277,-86.733277,32.615651,-86.802500,33.520560,NaN,NaN,NaN
1,U,1989-07-08,1989-01-01,1989-07-01,7.0,8.0,TX00008,Plant,8.0,2.009998,...,171.75,-90.64271,34.255277,-99.682629,31.169020,-97.396111,27.800283,NaN,NaN,NaN
2,U,1990-05-05,1990-01-01,1990-05-01,7.0,8.0,TX00008,Plant,9.0,2.009998,...,171.75,-90.64271,34.255277,-99.682629,31.169020,-97.396111,27.800283,NaN,NaN,NaN
3,U,1990-06-09,1990-01-01,1990-06-01,7.0,27.0,AL00027,Plant,3.0,2.009998,...,158.25,-90.64271,34.255277,-86.733277,32.615651,-86.802500,33.520560,NaN,NaN,NaN
4,U,1991-03-02,1991-01-01,1991-03-01,7.0,8.0,TX00008,Plant,10.0,2.009998,...,168.00,-90.64271,34.255277,-99.682629,31.169020,-97.396111,27.800283,NaN,NaN,NaN

In [74]:
s.close()