In [23]:
import pandas as pd
import os
import swat
from tabulate import tabulate
import time
from pprint import pprint
import sys

In [24]:
os.environ['CAS_CLIENT_SSL_CA_LIST'] = '/opt/sas/viya/config/etc/SASSecurityCertificateFramework/cacerts/trustedcerts.pem'
cashost='frasepviya35smp.cloud.com'
casport=5570
s = swat.CAS(cashost, casport)
s.sessionProp.setSessOpt(metrics="TRUE", timeout=1800, caslib='casuser', messageLevel="ALL")

NOTE: 'CASUSER(viyademo01)' is now the active caslib.
NOTE: Action 'sessionProp.setSessOpt' used (Total process time):
NOTE:       real time               0.000326 seconds
NOTE:       cpu time                0.000311 seconds (95.40%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  265.19K (0.00%)

+ Elapsed: 0.000326s, user: 0.000195s, sys: 0.000116s, mem: 0.259mb

In [25]:
s.table.addcaslib(
    name="hdlib",
    datasource={
        "srctype":"hadoop",
        "dataTransferMode":"auto",
        "username":"hive",
        "dbmaxText":255,
        "password":"admin",
        "uri":"jdbc:hive2://frasephdp.cloud.com:2181/default;serviceDiscoveryMode=zooKeeper;zooKeeperNamespace=hiveserver2",
        "hadoopjarpath":"/opt/sas/hadoop/jars",
        "hadoopconfigdir":"/opt/sas/hadoop/sitexmls",
        "schema":"default",
        "DRIVER_TRACE":"SQL",
        "DRIVER_TRACEFILE":"/tmp/sasdcpg.log",
        "DRIVER_TRACEOPTIONS":"TIMESTAMP|APPEND"
    }
)

NOTE: Executing action 'table.addCaslib'.
NOTE: 'hdlib' is now the active caslib.
NOTE: Cloud Analytic Services added the caslib 'hdlib'.
NOTE: Action 'table.addCaslib' used (Total process time):
NOTE:       real time               0.002368 seconds
NOTE:       cpu time                0.002348 seconds (99.16%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  1.02M (0.00%)

[CASLibInfo]

      Name    Type Description Path                                         Definition  Subdirs  Local  Active  Personal  Hidden  Transient
 0   hdlib  hadoop                                           dataTransferMode = 'Auto'      0.0    1.0     1.0       0.0     0.0        0.0
 1   hdlib                                                                uid = 'hive'      NaN    NaN     NaN       NaN     NaN        NaN
 2   hdlib                                                               pwd = '*****'      NaN    NaN     NaN       NaN     NaN        NaN
 3   hdlib                                      hadoopJarPath = '/opt/sas/hadoop/jars'      NaN    NaN     NaN       NaN     NaN        NaN
 4   hdlib                                                          schema = 'default'      NaN    NaN     NaN       NaN     NaN        NaN
 5   hdlib                           uri = 'jdbc:hive2://frasephdp.cloud.com:2181/d...      NaN    NaN     NaN       NaN     NaN        NaN
 6   hdlib                                                        driver_trace = 'SQL'      NaN    NaN     NaN       NaN     NaN        NaN
 7   hdlib                                       driver_tracefile = '/tmp/sasdcpg.log'      NaN    NaN     NaN       NaN     NaN        NaN
 8   hdlib                                    driver_traceoptions = 'TIMESTAMP|APPEND'      NaN    NaN     NaN       NaN     NaN        NaN
 9   hdlib                                hadoopConfigDir = '/opt/sas/hadoop/sitexmls'      NaN    NaN     NaN       NaN     NaN        NaN
 10  hdlib                                                             dbmaxText = 255      NaN    NaN     NaN       NaN     NaN        NaN

+ Elapsed: 0.00237s, user: 0.0016s, sys: 0.000751s, mem: 1.02mb

In [26]:
cinfo=s.table.columninfo(table={"caslib":"hdlib","name":"megacorp_small"});

NOTE: Executing action 'table.columnInfo'.
NOTE: Action 'table.columnInfo' used (Total process time):
NOTE:       real time               2.782146 seconds
NOTE:       cpu time                0.438645 seconds (15.77%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  975.66K (0.00%)

In [27]:
cinfo

[ColumnInfo]

                  Column Label  ID     Type  RawLength  FormattedLength Format  NFL  NFD
 0                  date         1   double          8                9   DATE    9    0
 1            datebyyear         2   double          8                9   DATE    9    0
 2           datebymonth         3   double          8                9   DATE    9    0
 3             dayofweek         4    int32          4               12           0    0
 4            facilityid         5    int32          4               12           0    0
 5              facility         6  varchar          7                7           0    0
 6          facilitytype         7  varchar          5                5           0    0
 7           facilityage         8    int32          4               12           0    0
 8         employeesused         9   double          8               12           0    0
 9        facilityregion        10  varchar          5                5           0    0
 10        facilitystate        11  varchar          2                2           0    0
 11         facilitycity        12  varchar         14               14           0    0
 12               unitid        13    int32          4               12           0    0
 13                 unit        14  varchar         12               12           0    0
 14         unitdowntime        15    int32          4               12           0    0
 15              unitage        16    int32          4               12           0    0
 16         unitlifespan        17   double          8               12           0    0
 17    unitlifespanlimit        18   double          8               12           0    0
 18      unitreliability        19   double          8               12           0    0
 19           unitstatus        20  varchar          7                7           0    0
 20         unitcapacity        21    int32          4               12           0    0
 21      unityieldtarget        22    int32          4               12           0    0
 22      unityieldactual        23    int32          4               12           0    0
 23        unityieldrate        24   double          8               12           0    0
 24         productbrand        25  varchar          7                7           0    0
 25          productline        26  varchar         14               14           0    0
 26            productid        27    int32          4               12           0    0
 27              product        28  varchar         15               15           0    0
 28   productdescription        29  varchar         20               20           0    0
 29   productpricetarget        30   double          8               12           0    0
 30   productpriceactual        31   double          8               12           0    0
 31  productmaterialcost        32   double          8               12           0    0
 32       productquality        33    int32          4               12           0    0
 33               profit        34   double          8               12           0    0
 34              revenue        35   double          8               12           0    0
 35             expenses        36   double          8               12           0    0
 36      expensescapital        37   double          8               12           0    0
 37  expensesoperational        38   double          8               12           0    0
 38     expensesmaterial        39   double          8               12           0    0
 39     expensesstaffing        40   double          8               12           0    0
 40      regionlongitude        41   double          8               12           0    0
 41       regionlatitude        42   double          8               12           0    0
 42       statelongitude        43   double          8               12           0    0
 43        statelatitude        44   double          8               12           0    0
 44        citylongitude        45   double          8               12           0    0
 45         citylatitude        46   double          8               12           0    0

+ Elapsed: 2.78s, user: 0.12s, sys: 0.319s, mem: 0.953mb

In [28]:
s.table.loadtable(caslib="hdlib",path="megacorp_small",where="facilityage > 10",casout={"caslib":"hdlib", "name":"megacorp_small_filtered", "replace":"true"})

In [31]:
s.table.loadtable(caslib="hdlib",path="megacorp_small",vars=[{"name":"product"},{"name":"statelatitude"}],casout={"caslib":"hdlib", "name":"megacorp_small_vars_filtered", "replace":"true"})

NOTE: Executing action 'table.loadTable'.
NOTE: Action failed during Embedded Process processing. Retrying action without the Embedded Process.
NOTE: Cloud Analytic Services made the external data from megacorp_small available as table MEGACORP_SMALL_VARS_FILTERED in caslib hdlib.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.263904 seconds
NOTE:       cpu time                0.022354 seconds (8.47%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  3.76M (0.00%)

[caslib]

 'hdlib'

[tableName]

 'MEGACORP_SMALL_VARS_FILTERED'

[casTable]

 CASTable('MEGACORP_SMALL_VARS_FILTERED', caslib='hdlib')

+ Elapsed: 0.264s, user: 0.0118s, sys: 0.0106s, mem: 3.76mb

In [34]:
s.table.loadtable(caslib="hdlib",path="megacorp_small",dataSourceOptions={"dbmswhere":"facilityage > 10"},casout={"caslib":"hdlib", "name":"megacorp_small_vars_filtered2", "replace":"true"})

NOTE: Executing action 'table.loadTable'.
NOTE: Action failed during Embedded Process processing. Retrying action without the Embedded Process.
NOTE: Cloud Analytic Services made the external data from megacorp_small available as table MEGACORP_SMALL_VARS_FILTERED2 in caslib hdlib.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.639199 seconds
NOTE:       cpu time                0.052819 seconds (8.26%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  6.48M (0.01%)

[caslib]

 'hdlib'

[tableName]

 'MEGACORP_SMALL_VARS_FILTERED2'

[casTable]

 CASTable('MEGACORP_SMALL_VARS_FILTERED2', caslib='hdlib')

+ Elapsed: 0.639s, user: 0.043s, sys: 0.00982s, mem: 6.48mb

In [37]:
s.table.loadtable(caslib="hdlib",path="megacorp_small",vars=[{"name":"product"},{"name":"statelatitude"}],where="facilityage > 10",casout={"caslib":"hdlib", "name":"megacorp_small_vars_filtered3", "replace":"true"})

NOTE: Executing action 'table.loadTable'.
NOTE: Action failed during Embedded Process processing. Retrying action without the Embedded Process.
NOTE: Cloud Analytic Services made the external data from megacorp_small available as table MEGACORP_SMALL_VARS_FILTERED3 in caslib hdlib.
NOTE: Action 'table.loadTable' used (Total process time):
NOTE:       real time               0.361362 seconds
NOTE:       cpu time                0.031003 seconds (8.58%)
NOTE:       total nodes             1 (16 cores)
NOTE:       total memory            125.75G
NOTE:       memory                  4.47M (0.00%)

[caslib]

 'hdlib'

[tableName]

 'MEGACORP_SMALL_VARS_FILTERED3'

[casTable]

 CASTable('MEGACORP_SMALL_VARS_FILTERED3', caslib='hdlib')

+ Elapsed: 0.361s, user: 0.0183s, sys: 0.0127s, mem: 4.47mb

In [38]:
castbl1 = s.CASTable(caslib="hdlib", name="megacorp_small_vars_filtered3")

In [39]:
castbl1.shape

(5567, 2)

In [40]:
s.terminate()